.pagedsettings_PagedSettingsDialog_PageListColumn_2kwFF {
  background: #2a2d34;
  flex: 1;
  /* min-width: 140px; */
  /* max-width: 220px; */
  padding-left: 24px;
  padding-top: 40px;
  /* display: flex; */
  flex-direction: column;
  position: relative;
  height: 20px;
  }
.pagedsettings_PagedSettingsDialog_PageList_18QCu {
  line-height: 16px;
  white-space: nowrap;
  overflow-y: overlay;
  display: flex;
  /* flex: 1; */
  /* height: 16px; */
  /* flex-direction: row; */
  }
  
.pagedsettings_PagedSettingsDialog_PageListItem_1-vlr {
  white-space: nowrap;
  max-width: 180px;
  text-overflow: ellipsis;
  color: #7e7e7e;
  font-size: 15px;
  font-weight: normal;
  text-transform: uppercase;
  cursor: pointer;
  /* margin-bottom: 14px; */
  user-select: none;
  display: flex;
  flex: 1;
  height: 16px;
  /* margin: 0; */
  padding: 2px 8px;
  flex-grow: 0;
  }

.appproperties_AppProperties_1FyBL .DialogHeader {
  /* margin-top: 10px; */
  }
  
.PopupFullWindow .ModalPosition_Content > div:not(.ModalPosition_TopBar):not(.ModalPosition_Dismiss) {
  flex: 1;
  flex-direction: column;
  }
  
.DialogContentTransition {
  display: flex;
  /* width: 664px; */
  /* max-width: calc( 100% - 64px); */
  /* flex: 3.3; */
  position: relative;
  height: 80%;
  }
  
.ModalDialogPopup .DialogContentTransition {
  /* display: block; */
  }
  

