/* Menu background color */
.menu_MenuPopup_3pofG {
    background: #263e67;
}

/* Menu hover background and font color */
.menu_MenuItem_2jXHP.menu_Item_2uiDe:hover {
    background-color: #dcdedf;
    color: #3d4450;
}