/* ==================== View My Achievements page ====================
   ========================================================================== */
.achievementspage_Page_3FQHg .achievementspage_Container_11Z-t {
    padding-top: 14px;
}

.library_AchievementsOverlayContainer_HruWV .library_AchievementsPageContainer_gioyP {
    width: 95%;
    max-width: unset;
    margin: 14px auto 14px auto;
}

.achievementsheader_Container_2iGYY .achievementsheader_Portrait_2SjmZ {
    width: 100px;
}