/* ==================== View My Achievements page ====================
   ========================================================================== */
._3FQHgRosfNJYE44Fsd_U6z ._11Z-tk3z56AMAn01e-PyBL {
    padding-top: 14px;
}

.HruWVPwIDh2FFOOH7OiSs .gioyPMOZttYFcnmgLnsWf {
    width: 95%;
    max-width: unset;
    margin: 14px auto 14px auto;
}

._2iGYYePQN5QQzHWNLybmd4 ._2SjmZt7H8ly6xW3pCbiuwG {
    width: 100px;
}