/* ==================== Classic Styling ====================
   ========================================================================== */

:root {
    /* Game Properties */
    --TabColor: rgba(58, 58, 58, var(--TabColorOpacity));
    --TabColorOpacity: 1;
    --HoverTabColor: rgba(95, 95, 95, var(--HoverTabColorOpacity));
    --HoverTabColorOpacity: 1;
    --ActiveTabColor: linear-gradient(to bottom, rgba(84, 84, 84, var(--ActiveTabColorOpacity)) 0%, rgb(44, 44, 44, var(--ActiveTabColorOpacity)) 100%);
    --ActiveTabColorOpacity: 1;
    --TabRowHeight: 26px;
    --VerticalNavBarOffset: -88.5px; 
    //--ClassicStyleBackgroundWidth: -0.5%;
}

/* Classic Arial font*/
body {
    font-family: Arial, Helvetica, sans-serif;
}
/* Classic Arial font for game page*/
.appdetailssection_AppDetailsSection_2r4TK {
    font-family: Arial, Helvetica, sans-serif;
} 

button.DialogButton.appdetailsbutton_AppDetailsButton_3Cdin {
    font-family: Arial, Helvetica, sans-serif;
} 

/* Classic font color*/
.gamelistentry_Container_2-O4Z.gamelistentry_Installed_2ws8D {
    color: #CFCFCF;
}

.gamelistentry_Container_2-O4Z.gamelistentry_Selected_1UBpA.gamelistentry_Installed_2ws8D {
    background-color: #193754;
}

.gamelistentry_Container_2-O4Z.gamelistentry_Uninstalled_5YTBr {
    color: #737373;
    &:hover {
        color: #a8a8a8;
    }
}

.gamelistentry_Selected_1UBpA.gamelistentry_Container_2-O4Z :hover {
    background-color: #193754;
}

.gamelistentry_Container_2-O4Z.gamelistentry_Installed_2ws8D:hover, .gamelistentry_Container_2-O4Z.gamelistentry_Uninstalled_5YTBr:hover {
    background: none;
}

.gamelistentry_Container_2-O4Z {
    color: #cfcfcf;
}
.gamelistentry_Container_2-O4Z:hover, .gamelistentry_Container_2-O4Z.gamelistentry_HoverOverlay_3cMVy {
    color: white;
    background: rgb(30,30,30);
}

/* Header Background size */
.library_Container_3xRRJ {
    background-size: contain !important;
}

/* Classic sidebar background */
.gamelistbar_Container_3x1Hk {
    background: unset;
}

.library_LeftListSizableContainer_9sPoV {
    background-image: linear-gradient(to right, #1e1e1e 75%, rgba(32, 32, 32, 0.75) 82%, rgba(35, 35, 35, 0.5) 90%, rgba(40, 40, 40, 0) 100%);
}

.library_AppDetailsMain_2Nq6o {
    background: none;
}

/* Removing grey backgrounds up to the top level, as much as possible */
.sharedappdetailsheader_TopCapsule_NZMJ6 {
    background-color: unset;
}

.library_AppDetailsTransitionGroup_2Dd4T {
    background: none;
}

.appdetails_ScrollContainer_2l416 {
    background-color: none;
}

.appdetails_Glassy_3Fmxx.appdetails_ScrollContainer_2l416 {
    background: none;
}

/* Remove some Glass */
.appdetailsoverview_Glassy_2OOzY .appdetailsoverview_Backdrop_1Qa-A {
    background: linear-gradient(0deg, rgba(40, 41, 49, 0) 0%, rgba(51, 51, 51, 0.2) 35%, rgba(51, 51, 51, 0.5) 100%);
}

.appdetailsoverview_Glassy_2OOzY .appdetailsoverview_BackdropGlass_Jbe-- {
    background: none;
    backdrop-filter: blur(1px);
}

/* Play Button Bar Text */
div.NarrowRightPanel .appdetailsplaysection_PlayBarLabel_34lrt {
    min-width: 98px;
}

/* Small Play button */
.appactionbutton_PlayButton_3ydig .appactionbutton_ButtonText_33cnX {
    font-size: 15px;
}

.appactionbutton_PlayButtonContainer_1FnJ6.appactionbutton_Green_3cI5T.appactionbutton_ShowingStreaming_1hhB2, .appactionbutton_PlayButtonContainer_1FnJ6 {
    height: 60%;
    margin-top: 4%;
    min-width: 100px;
    max-width: 100px;
}

.appactionbutton_PlayButton_3ydig {
    max-width: 100px;
}

/* Background and sections */
.appdetailsoverview_Glassy_2OOzY .appdetailsoverview_Backdrop_1Qa-A {
    background: none;
}

.appdetailssectionheader_SectionHeader_1Q2q_ {
    font-weight: bold;
    color: #4494B3;
}

.appdetailssection_AppDetailsSectionContainer_31ptF.appdetailssection_RightColumnSection_3KfxI {
    background: none;
}

.appdetailsoverview_RightColumn_2aor4 > div > .appdetailssection_AppDetailsSection_2r4TK {
    background: rgba(30,30,30,0.7);
}

.appdetailsoverview_LeftColumn_2aor4 > div > .appdetailssection_AppDetailsSection_2r4TK {
    background: rgba(30,30,30,0.7);
}

.appdetailssection_AppDetailsSectionContainer_31ptF {
    box-shadow: unset;
    &.appdetailssection_RightColumnSection_3KfxI {
        box-shadow: unset;
    }
}
.appdetailsfriendssection_FriendsSection_qGJMO {
    display: block;
}
.appdetailsworkshopsection_WorkshopSection_2PfKa {
    display: block;
    overflow: unset;
}

.appdetailsoverview_LeftColumn_1sZgB > div > .appdetailssection_AppDetailsSection_2r4TK {
    background-image: linear-gradient(to right, rgba(30, 30, 30, 0) calc(var(--ClassicStyleBackgroundWidth) + 0.5%), rgba(30, 30, 30, 0.7) calc(var(--ClassicStyleBackgroundWidth) + 0.5%), rgba(30, 30, 30, 0.7) 100%);
    //background: rgba(30,30,30,0.7);
}

/* Activity Heading Padding */
.appdetailsactivitysection_ActivityFeedContainer_3yTl3 > div {
  padding-left: 10px;
}

/* collection tags */
.appdetailsheader_HeaderFeatures_2b6Wk {
    justify-content: flex-end;
    flex-direction: column;
}

.appdetailsheader_InCollection_1HS4t {
    text-align: left;
    width: 174px;
}

.appdetailsplaysection_Container_3Yf8b.appdetailsplaysection_InPage_1U7LK {
    top: calc(-128px - 3vw);
}