/* Game AppPage Navigation Bar
   ========================================================================== */
/* Tweak nav bar to be bigger and more opaque*/

.appdetailsprimarylinkssection_LinksSection_3-V8v .appdetailsprimarylinkssection_Links_DgVQa {
  height: 35px !important;
}

.appdetailsprimarylinkssection_LinksSection_3-V8v .appdetailsprimarylinkssection_LinksSectionBody_25f0f {
  padding: 0px 10px 3px 4px !important;
}

.appdetailsprimarylinkssection_LinkInner_7k4qm {
  position: absolute;
  padding: 4px 16px 4px 0px !important;
  margin-right: 0px;
}

.appdetailsprimarylinkssection_LinkInner_7k4qm .appdetailsprimarylinkssection_Text_2sNDj {
  color: rgba(255, 255, 255, 0.7);
  white-space: nowrap;
  font-size: 15px;
}

.appdetailsprimarylinkssection_LinkInner_7k4qm .appdetailsprimarylinkssection_Link_1b6LY {
  padding: 3px 12px 3px 12px;
}