/* ==================== Game AppPage Sections ====================
   ========================================================================== */
   
/*Remove Appdetail margins */

.appdetailssection_AppDetailsSection_2r4TK {
  margin: 0px;
}

.appdetailssection_AppDetailsSectionContainer_31ptF {
  margin: 8px;
}

/* Section box background color */
.appdetailssection_AppDetailsSectionContainer_31ptF.appdetailssection_RightColumnSection_3KfxI {
  background: radial-gradient(100% 80% at 64% 95%, rgba(104, 112, 124, 0.5) 0%, rgba(91, 99, 112, 0.5) 40%, rgba(24, 35, 36, 0.5) 100%);
}

button.DialogButton.appdetailsbutton_AppDetailsButton_3Cdin.appdetailsbutton_BottomRight_3nJyY {
  margin-top: -4px;
  padding: 2px 8px;
}

.appdetailsfriendssection_Subsection_39bm0 {
  margin-bottom: 6px;
}

/* Move Additional Content to bottom */
div.appdetailsoverview_RightColumn_2aor4>div:nth-child(3) {
  order: 5;
}

/* Section Highlight */
.appdetailsoverview_Seeking_3wz2S {
  /* Don't do anything yet */
  opacity: 1.0;
  animation-name: var(--AchievementsClickHighlight);
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-delay: .6s; }

@keyframes appdetailsoverview_HighlightMe_25jnp {
  0% {
    filter: brightness(1); }
  30% {
    filter: brightness(2); }
  100% {
    filter: brightness(1); }
  }

@keyframes Highlight_opacity {
  0% {
    filter: opacity(100%); }
  30% {
    filter: opacity(0%); }
  100% {
    filter: opacity(100%); }
}

@keyframes Highlight_border {
  0% {
    border: 0px; }
  30% {
    border: 2px solid black; }
  100% {
    border: 0px; }
}

/* ========================================================================== 
   END Game AppPage Sections */