/* Game AppPage Play Bar
   ========================================================================== */

/* increase text opacity of heading for Last Played, Play Time, Achievements*/
._34lrt5-Fc3usZU6trA1P0- {
  color: rgba(255, 255, 255, 0.9);
}

/* increase icon opacity of Play Time */
._1aKegVl9_lSdNAyWYZQlr9 ._1GZdosVXnfrf69yU8DWASl svg polyline, ._1aKegVl9_lSdNAyWYZQlr9 ._1GZdosVXnfrf69yU8DWASl svg path {
  stroke: rgba(255, 255, 255, 0.5);
}

._1aKegVl9_lSdNAyWYZQlr9 ._1GZdosVXnfrf69yU8DWASl svg circle {
  stroke: rgba(255, 255, 255, 0.5);
  fill: rgba(255, 255, 255, 0.5);
}

/* increase text opacity of value for Last Played, Play Time*/
._2TYVGoD27ZMfjRirKQNLfk, ._3pS8kMrtScuY1Qf-W8tmRV ._1nfJNsQjTOXSQQyFahGnRi {
  color: rgba(255, 255, 255, 0.5);
}

/* Play button Size */
._1FnJ6dPuknQFQ2RTpKTI16._1hhB2Wf7iExA15zh_lDQ_y {
  min-width: 164px;
}