/*Responsive DLC Grid Columns */

div._2ycfNEAjDWvJwI6a-Wef4Q ._15tTAQr0o8mb0NcLEUOz1c {
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  /*justify-content: center;*/
}


/*Shrink Screenshots size to show more (JS recommended)*/

._2_TE0KLOU7kWWxa9LS7iXA ._2fgcqIGs6BXH_KJiTLhJX5 {
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-template-rows: auto auto auto;
  overflow-y: scroll;
}

div.NarrowRightPanel ._2_TE0KLOU7kWWxa9LS7iXA ._2fgcqIGs6BXH_KJiTLhJX5 {
  grid-template-rows: auto auto;
}