/* ==================== Game AppPage Header ====================
   ========================================================================== */

/* App Page main header - down to 60% the height */
.sharedappdetailsheader_TopCapsule_NZMJ6 {
  height: 13vw !important;
}

.appdetails_Header_2gZXh.appdetails_HeaderLoaded_tXlLv {
  min-height: 170px;
}

/* Unset Header Image height to show top and bottom */
.sharedappdetailsheader_ImgContainer_QlR9E {
  height: unset;
}

.appdetailsheader_HeaderFeatures_2b6Wk {
  pointer-events: all;
}

/* Removing grey backgrounds up to the top level, as much as possible */
.sharedappdetailsheader_TopCapsule_NZMJ6 {
  background-color: unset;
}

.library_AppDetailsTransitionGroup_2Dd4T {
  background: none;
}

.appdetails_ScrollContainer_2l416 {
  background-color: none;
}

.appdetails_Glassy_3Fmxx.appdetails_ScrollContainer_2l416 {
  background: none;
}

.library_Container_3xRRJ {
  background-size: contain !important;
}

/* alttextimg - broken link image in top left annoyance */
#alttext-image {
  display: none;
}
img.sharedappdetailsheader_ImgSrc_HNbe3.sharedappdetailsheader_ImgBlur_HSQWw {
  display: none;
}
.sharedappdetailsheader_ImgSrc_HNbe3 {
  text-indent: -10000px;
}


/* ========================================================================== 
   END Game AppPage Header */