/* Game AppPage Activity - Friends
   ========================================================================== */
   
/* Compact News */
/* Remove Activity item margin */

.appactivityday_AppActivityDay_S2Fu9 {
    margin-bottom: 0px;
    margin-top: -29px;
    min-height: 95px;
  }

/* comment box */
.comment_thread_ActivityCommentThread_39nna {
  margin-bottom: 29px;
}
  
.appdetailssection_AppDetailsSectionContainer_31ptF.appdetailssection_AppDetailsSectionHasLabel_2G5B7 > div > div:nth-child(2) {
  margin-top: 0px;
}

/* Activity Achievement Unlocked to 2 columns */

.appactivityday_ActivityAchievementUnlocked_yJLy7 {
  padding: 6px;
  grid-template-columns: repeat(auto-fill, [col-start] minmax(140px, 48%) [col-end]) !important;
  gap: 8px 8px;
}

/* Activity Margin */
.appdetailsactivitysection_AddToFeed_2bqRp {
  margin-bottom: 30px;
}

/* DLC Available Content */
.apopactivitydlc_Rollup_2UySY {
  display: var(--DLCAvailableContent);
}