/* Game AppPage Play Bar
   ========================================================================== */

/* increase text opacity of heading for Last Played, Play Time, Achievements*/
.appdetailsplaysection_PlayBarLabel_34lrt {
  color: rgba(255, 255, 255, 0.9);
}

/* increase icon opacity of Play Time */
.appdetailsplaysection_Playtime_1aKeg .appdetailsplaysection_PlaytimeIcon_1GZdo svg polyline,
.appdetailsplaysection_Playtime_1aKeg .appdetailsplaysection_PlaytimeIcon_1GZdo svg path {
  stroke: rgba(255, 255, 255, 0.5);
}

.appdetailsplaysection_Playtime_1aKeg .appdetailsplaysection_PlaytimeIcon_1GZdo svg circle {
  stroke: rgba(255, 255, 255, 0.5);
  fill: rgba(255, 255, 255, 0.5);
}

/* increase text opacity of value for Last Played, Play Time*/
.appdetailsplaysection_PlayBarDetailLabel_2TYVG,
.appdetailsplaysection_LastPlayed_3pS8k .appdetailsplaysection_LastPlayedInfo_1nfJN {
  color: rgba(255, 255, 255, 0.5);
}

/* Play button Size */
.appactionbutton_PlayButtonContainer_1FnJ6.appactionbutton_ShowingStreaming_1hhB2 {
  min-width: 164px;
}