/* ================== Game AppPage Header/Section Boundary ==================
   ========================================================================== */

/* added a darker gradient to the top of the apppage below the Game Image */
._2OOzYVWIHaKXm6_7sscT9i ._1Qa-Aq8WFiF9584yU_1xuC {
    background: linear-gradient(0deg, rgba(40, 41, 49, 0) 0%, rgba(51, 51, 51, 0.2) 35%, rgba(51, 51, 51, 0.5) 100%);
}

/* Height of blur over background image. If a low value, most of the background will be clear. default: 450px */
._2OOzYVWIHaKXm6_7sscT9i .Jbe--NUNw7sxbxGsMSjVa {
    height: 2000px;
    background: linear-gradient(to bottom, rgba(40, 40, 40, 0.1) 0%, rgba(39, 44, 53, 0.5) 82px, rgba(40, 40, 40, 0.6) 92%, rgba(40, 40, 40, 0) 100%);
    backdrop-filter: blur(var(--AppPageBlur));
}

/* Game AppPage Info Panel ======================================== */
._2jPMy2QZr8bWi6yrk5ZzHA ._1uS70KI6ZbUE94jUB27ioB ._3GkV1NVDKuXYTLyRt2Uirz {
    color: rgba(195, 195, 195, 1);
}

/* ========================================================================== 
   END Game AppPage Header/Section Boundary */