/* Game AppPage Activity - Broadcasts
   ========================================================================== */
   ._5uvIN6jXDXzzck59F-nhv.CFp7FDqX1IuwmkuBusvoZ {
    align-content: flex-end;
  }
  
  ._9nwsCOgZqq15N_8yHfHX4 {
    width: 50%;
    height: 50%;
    margin-left: auto;
  }