/* ================== Game AppPage MAIN COLUMNS ==================
   ========================================================================== */

.appdetailsoverview_Container_27RcN .appdetailsoverview_RightColumn_2aor4 {
  width: var(--FriendsDLCScreenshotsColumnWidth);
  margin-left: 0;
  margin-right: 10px;
  float: var(--SwapColumns);
}

.appdetailsactivitysection_ActivityFeedContainer_3yTl3 {
  max-width: unset;
}

/* ========================================================================== 
   END Game AppPage MAIN COLUMNS */