/* ================== Game AppPage Post-Game Summary & Spotlight ==================
   ========================================================================== */
  
._27RcNu8aXKBpYkHcNNrt-X {
  /* Adjust padding */
  .OhSdLYuggDtBcWjYP0j_9 {
    padding: 8px 10px 4px 10px;
  }
  ._11kuVRYZvWXn-3rBJ_6yL8._3wbndu1paxHkciYr4rFJH5 {
    width: calc(63.7% - 42px);
  }
}
  
._3fiHsLeD_6rtm6bM9lHlVL.appdetailsspotlight_NewDLCImages_ENdo7 {
  height: unset !important;
}

/*Change Game Summary separator from small dot to thin line-clamp*/
._11ner25as4lWCRtPyqpdQ_ {
  background-color: rgba(132, 154, 182, 0.3);
  width: 1px;
  height: 160px;
  border-radius: 3%;
  margin: 10px 16px;
  align-self: center;
}

._3LE-6w1ItIAB4CKJFCa3Od {
  display: var(--RecommendGame);
}

/* New DLC for [game] has been acquired */
.ut0YcLYGAoSTz2Dnjw9U1 {
}

/* ========================================================================== 
   END Game AppPage Post-Game Summary & Spotlight */