/* ================== Game AppPage MAIN COLUMNS ==================
   ========================================================================== */

._27RcNu8aXKBpYkHcNNrt-X ._2aor4XVOYzN1PBSREk0UbO {
  width: var(--FriendsDLCScreenshotsColumnWidth);
  margin-left: 0;
  margin-right: 10px;
  float: var(--SwapColumns);
}

._3yTl3RiWfo-Itg-xp967wP {
  max-width: unset;
}

/* ========================================================================== 
   END Game AppPage MAIN COLUMNS */