/* Game AppPage Activity - Broadcasts
   ========================================================================== */
   .appdetailssection_Body_5uvIN.appdetailsbroadcastsection_Body_CFp7F {
    align-content: flex-end;
  }
  
  .appdetailsbroadcastsection_BroadcastBox_9nwsC {
    width: 50%;
    height: 50%;
    margin-left: auto;
  }