/* Game AppPage Navigation Bar
   ========================================================================== */
/* Tweak nav bar to be bigger and more opaque*/

._3-V8vjmrwuJM6Ws3tsjFJj .DgVQapkBmhAW6oPY5rPZo {
  height: 35px !important;
}

._3-V8vjmrwuJM6Ws3tsjFJj ._25f0fX6qbgdB7O_lMrbhCN {
  padding: 0px 10px 3px 4px !important;
}

._7k4qmaN8SUMvv6u-L81uk {
  position: absolute;
  padding: 4px 16px 4px 0px !important;
  margin-right: 0px;
}

._7k4qmaN8SUMvv6u-L81uk ._2sNDjgK9EWiPLdNGkjun-w {
  color: rgba(255, 255, 255, 0.7) !important;
  font-size: 15px;
}

._7k4qmaN8SUMvv6u-L81uk ._1b6LYWVijW-9E4YV0keDWZ {
  padding: 3px 12px 3px 12px;
}