/* ================== Game AppPage Post-Game Summary & Spotlight ==================
   ========================================================================== */
  
.appdetailsoverview_Container_27RcN {
  /* Adjust padding */
  .appdetailsoverview_ColumnContainer_OhSdL {
    padding: 8px 10px 4px 10px;
  }
  .appdetailsoverview_Spotlights_11kuV.appdetailsoverview_SpotlightLeftColumn_3wbnd {
    width: calc(63.7% - 42px);
  }
}
  
.boxcarousel_BoxCarousel_3fiHs.appdetailsspotlight_NewDLCImages_ENdo7 {
  height: unset !important;
}

/*Change Game Summary separator from small dot to thin line-clamp*/
.spotlightgameplaysummary_TypeSeparator_11ner {
  background-color: rgba(132, 154, 182, 0.3);
  width: 1px;
  height: 160px;
  border-radius: 3%;
  margin: 10px 16px;
  align-self: center;
}

.appdetailsspotlight_ReviewContainer_3LE-6 {
  display: var(--RecommendGame);
}

/* New DLC for [game] has been acquired */
.appdetailsspotlight_SpotlightDLC_ut0Yc {
}

/* ========================================================================== 
   END Game AppPage Post-Game Summary & Spotlight */