/* Game AppPage Activity - Friends
   ========================================================================== */
   
/* Compact News */
/* Remove Activity item margin */

.S2Fu9HxHCA5MaCLGrN2ib {
    margin-bottom: 0px;
    margin-top: -29px;
    min-height: 95px;
  }

/* comment box */
._39nnaT_CLE0m_WXVIrAwaG {
  margin-bottom: 29px;
}

/* crafting badge */
._3G7i5g23e7CREVJMvy-uuM {
  margin-bottom: 30px;
}

/* other margins */
._31ptFGGMZrSQc5BCX1e5lm._2G5B7o_YoI__u11--EFjal > div > div:nth-child(2) {
  margin-top: 0px;
}

/* received new game margin */
.UVeN0kaD3zv1feMj_mMw5._35ZQ6r0nfzLTVQqolxl7as._2CB_RqM2eU0opie2AJ3Eow.Panel.Focusable {
  margin-bottom: 24px;
}

/* Added to their library margin */
.UVeN0kaD3zv1feMj_mMw5._35ZQ6r0nfzLTVQqolxl7as._2CB_RqM2eU0opie2AJ3Eow.Panel {
  margin-bottom: 22px;
}

/* Activity Achievement Unlocked to 2 columns */

.yJLy7HDLJT44C1fcm6lPI {
  padding: 6px;
  grid-template-columns: repeat(auto-fill, [col-start] minmax(140px, 48%) [col-end]) !important;
  gap: 8px 8px;
}

/* Activity Margin */
._2bqRppbRWGNAZV5lfubW7- {
  margin-bottom: 30px;
}

/* Activity textbox height */
textarea._1JlC29Ic6L-QvL-39X_d-X.Focusable {
  height: unset !important;
}

/* DLC Available Content */
.apopactivitydlc_Rollup_2UySY {
  display: var(--DLCAvailableContent);
}

._1_lVh3JvHLiurz1OuvfGhm {
  display: var(--DLCAvailableContent);
}