/* ==================== Game AppPage Header ====================
   ========================================================================== */

/* App Page main header - down to 60% the height */
.sharedappdetailsheader_TopCapsule_NZMJ6 {
  height: 13vw !important;
}

/* Unset Header Image height to show top and bottom */
.sharedappdetailsheader_ImgContainer_QlR9E {
  height: unset;
}

.appdetailsheader_HeaderFeatures_2b6Wk {
  pointer-events: all;
}

/* ========================================================================== 
   END Game AppPage Header */