/* Vertical Nav Bar
   ========================================================================== */

.sharedappdetailsheader_BoxSizerContainer_A14yd {
  z-index: 2 !important;
}

.appdetailsgameinfocontainer_AppGameInfoContainer_25oBZ.appdetailsgameinfocontainer_AppDetailsExpanded_3s6_6.appdetailsgameinfocontainer_Glassy_2QAgO {
  order: 2;
}
.appdetailsgameinfocontainer_AppGameInfoContainer_25oBZ.appdetailsgameinfocontainer_AppDetailsCollapsed_3yfoe.appdetailsgameinfocontainer_Glassy_2QAgO {
  order: 2;
}
.appdetailsoverview_ColumnContainer_OhSdL {
  order: 3;
}

.appdetailssection_AppDetailsSection_2r4TK.appdetailsprimarylinkssection_LinksSection_3-V8v {
  margin-left: auto;
  right: 10px;
  transform: translate(5px, -312px) translateY(var(--VerticalNavBarOffset));
  position: sticky;
  height: 0px !important;
  min-width: 180px;
  max-width: 195px;
  border-radius: 4px;
  pointer-events: all;
  z-index: 5 !important;
  padding: 0px;
}

.appdetailssection_AppDetailsSection_2r4TK.appdetailsprimarylinkssection_LinksSection_3-V8v>div {
  background: linear-gradient(rgba(40, 40, 40, 0.7) 95.8%, rgba(40, 40, 40, 0) 100%) !important;
  background-size: 93% 100% !important;
  background-repeat: no-repeat !important;
  height: 258.9px;
}

.appdetailsprimarylinkssection_LinkInner_7k4qm {
  max-width: 150px;
  overflow: visible;
  & .appdetailsprimarylinkssection_Link_1b6LY {
    padding: 2px 10px 2px 10px;
  }
}

.appdetailsprimarylinkssection_LinksSection_3-V8v .appdetailsprimarylinkssection_Links_DgVQa {
  height: unset !important;
}

.appdetailsoverview_Container_27RcN .appdetailsoverview_LeftColumn_1sZgB:before {
  content: '';
  min-height: 0px;
}

/* credit: Naii for CSS-only Vertical Nav Bar
https://gamebanana.com/mods/305429 */
.appdetailsprimarylinkssection_LinkInner_7k4qm {
	opacity: 1 !important;
	position: relative !important;
  pointer-events: all !important;
  z-index: 100 !important;
}

.appdetailsprimarylinkssection_MenuButton_1bIMO  {
	display: none !important;
}
/* end credit */

.appdetailsprimarylinkssection_Anchor_DY4_w .appdetailsprimarylinkssection_Link_1b6LY {
  text-align: left;
}

.appdetailsprimarylinkssection_Links_DgVQa.Panel.Focusable {
  padding: 10px 0px 10px 5px;
}

.appdetailsprimarylinkssection_LinkInner_7k4qm {
  padding: 0px !important;
  top: 0px !important;
}

.appdetailsprimarylinkssection_Links_DgVQa {
  width: fit-content;
}

/* single/multiplayer/controller support icons */
.sharedappdetailsheader_TitleSection_30acA {
  z-index: 4;

  & .sharedappdetailsheader_Features_fqwOy {
    padding-right: 210px;
  }
}

/* categories */
.appdetailsheader_HeaderFeatures_2b6Wk{
  right: 210px;
  pointer-events: all;
}

.sharedappdetailsheader_TopCapsule_NZMJ6 {
    min-height: 240px;
}

div.NarrowRightPanel .appdetailsprimarylinkssection_LinksSection_3-V8v {
  margin-top: 8px;
}

/* END VERTICAL NAV BAR */
  