/* Home Icon 
Adapted from LIGHT-UI by Angelo*/

.gamelisthome_Bar_3pSPl.gamelisthome_Selected_eNLOx {
    background-color: #3e4047;
}

.gamelisthome_Bar_3pSPl:hover .gamelisthome_Label_3O48L {
    color: transparent !important;
    filter:grayscale(1) invert(1) brightness(1);
    
}

.gamelisthome_Bar_3pSPl.gamelisthome_Selected_eNLOx .gamelisthome_Label_3O48L {
    filter:grayscale(1) invert(1) brightness(1);
}

.gamelisthome_Bar_3pSPl .gamelisthome_Label_3O48L {
    transition: filter 0.3s ease-in-out;
    color: transparent;
    background-image: url(https://i.imgur.com/M8kynWD.png) !important;
    filter:grayscale(1) invert(1) brightness(0.5);
    background-size: 20px !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}

.gamelisthome_Label_3O48L {
    align-self: unset;
    margin: 0 auto;
    line-height: 30px;
}

/* Old version
.gamelisthome_Label_3O48L:after {
    content: '🏠';
    color: transparent;
    visibility: visible;
    display: block;
    position: absolute;
    padding: 5px 11px;
    top: 2px;
}*/