/* Home Icon */
.gamelisthome_Label_3O48L {
	color: transparent;text-shadow: 0 0 0 #4c4d50;
}

.gamelisthome_Label_3O48L:hover {
    text-shadow: 0 0 0 #white;
}

.gamelisthome_Bar_3pSPl > div:hover {
    text-shadow: 0 0 0 white;
}

.gamelisthome_Selected_eNLOx .gamelisthome_Label_3O48L {
    color: transparent;
    text-shadow: 0 0 0 white;
}