/* PLAY BAR LAYOUT - BETA */

:root {
  --VerticalNavBarOffset: -80px;
}

.appdetailsplaysection_Container_3Yf8b.appdetailsplaysection_InPage_1U7LK {
  position: relative;
  top: calc(-124px - 3vw);
  left: 15px;
  width: 33%;
  max-width: 345px;
  background: rgba(40, 40, 40, 0.7);
  backdrop-filter: blur(2px);
  border-radius: 4px;
}

.appdetailsplaysection_InnerContainer_3Y87Y {
  box-sizing: border-box;
  padding: 10px 12px 7px 17px;
  overflow-y: hidden;
}

.appdetails_PlayBar_2L3s2 {
  width: 30%;
}

div.NarrowRightPanel .appdetailsplaysection_ActionSection_2zxzS {
  height: 50px;
}

.appdetailssection_AppDetailsSection_2r4TK.appdetailsprimarylinkssection_LinksSection_3-V8v {
  transform: translateY(-145px);
}

.appdetailsoverview_Container_27RcN.appdetailsoverview_Glassy_2OOzY > :nth-child(6) {
  transform: translateY(-145px);
}

.appdetailsgameinfocontainer_AppGameInfoContainer_25oBZ {
  transform: translateY(-145px);
}

.appdetailsplaysection_Row_9EHg9 {
  flex-flow: column;
  width: 100%;
}

.sharedappdetailsheader_TopCapsule_NZMJ6 {
  z-index: -2;
  pointer-events: none;
}

.sharedappdetailsheader_Features_fqwOy,
.sharedappdetailsheader_PinBox_2O6k6,
.sharedappdetailsheader_BoxSizerDragBox_3ICyu {
  pointer-events: all;
}


.appdetails_PlayBar_2L3s2.appdetails_ShowPlayBar_jnXtv.appdetailsplaysection_Container_3Yf8b.appdetailsplaysection_StickyHeader_39Rhe {
  width: 100%;
}

.appactionbutton_PlayButtonContainer_1FnJ6.appactionbutton_Green_3cI5T.appactionbutton_ShowingStreaming_1hhB2 {
  height: 90%;
}

.appdetailsplaysection_StatusAndStats_1YbtI {
  overflow: visible;
}

.appdetailsplaysection_StatusAndStats_1YbtI .appdetailsplaysection_StatusNameContainer_zjtAI {
  align-items: unset;
  overflow: visible;
}


.appdetailsplaysection_GameStatsSection_1mDAV {
  width: 100%;
  flex-direction: column;
  align-content: flex-start;
  flex-wrap: wrap;
}

.appdetailsplaysection_StatusAndStats_1YbtI .appdetailsplaysection_GameStatsSection_1mDAV {
  width: 100%;
  padding-top: 4px;
}

.appdetailsplaysection_DetailsSection_1dg8h.appdetailsplaysection_Downloading_2F4Pc {
  width: 100%;
  margin-left: 5px;
}

.appactionbutton_PlayButtonContainer_1FnJ6 {
  height: 90%;
}

.appdetailsplaysection_GameStat_1kiZK.appdetailsplaysection_LastPlayed_3pS8k {
  //width: 45%;
}

.appdetailsplaysection_GameStat_1kiZK.appdetailsplaysection_Playtime_1aKeg {
  //width: 55%;
}

.appdetailsplaysection_RightControls_1EAxK {
  margin-left: auto;
  justify-content: flex-end;
  z-index: 2;
}


.appdetailsplaysection_ActionSection_2zxzS {
  width: 50%;
  transform: scale(1);
  transform-origin: left;
}


.appdetailsplaysection_GameStat_1kiZK {
  margin: 0px;
  padding: 1px;
}

.appdetails_PlayBar_2L3s2.appdetails_ShowPlayBar_jnXtv.appdetailsplaysection_Container_3Yf8b.appdetailsplaysection_StickyHeader_39Rhe>div>div>div {
  flex-direction: row;
}

.appdetails_PlayBar_2L3s2.appdetails_ShowPlayBar_jnXtv.appdetailsplaysection_Container_3Yf8b.appdetailsplaysection_StickyHeader_39Rhe>div>div>div>div.appdetailsplaysection_StatusAndStats_1YbtI>div.appdetailsplaysection_DetailsSection_1dg8h.appdetailsplaysection_Downloading_2F4Pc {
  width: 32%;
}


.appdetailsplaysection_PlayBarLabel_34lrt {
  max-height: 16px;
}


.appdetails_PlayBar_2L3s2.appdetails_ShowPlayBar_jnXtv.appdetailsplaysection_Container_3Yf8b.appdetailsplaysection_StickyHeader_39Rhe>div>div>div> :nth-child(1) {
  width: unset;
}

.appdetailsplaysection_StickyHeaderShadow_2_86Q {
  background: linear-gradient(to bottom, rgba(40, 40, 40, 0.5) 0%, rgba(40, 40, 40, 0.2) 30%, rgba(40, 40, 40, 0) 100%);
}



.appdetailsplaysection_RightControls_1EAxK {
  margin-top: -90px;
}
  
.appdetailsplaysection_AppButtonsContainer_lO1IF {
  flex-flow: column;
  padding-bottom: 10px;

  & > :last-child {
    margin-bottom: 0;
  }
}
  
.appdetailsplaysection_MenuButton_3qDWQ {
  margin-right: 0px;
  margin-top: 7px;
}  
  
.appdetails_PlayBar_2L3s2.appdetails_ShowPlayBar_jnXtv.appdetailsplaysection_Container_3Yf8b.appdetailsplaysection_StickyHeader_39Rhe>div>div>div> :nth-child(3)>div {
  flex-direction: row;
  transform: translateY(8px);

  & > div {
    margin-right: 10px;
  }
}

/* Narrow */
div.NarrowRightPanel .appdetailsplaysection_PlayBarLabel_34lrt {
  min-width: 94px;
}

.library_MainPanel_3BFcm.NarrowRightPanel.MediumRightPanel > div > div > div > div > div > div > div > div > div > div >
 div.appdetailsplaysection_RightControls_1EAxK {
  margin-top: -70px;
}

div.NarrowRightPanel .appdetailsplaysection_DetailsSection_1dg8h.appdetailsplaysection_Downloading_2F4Pc {
  margin-top: 5px;
}

div.NarrowRightPanel .appdetailsplaysection_DetailsSection_1dg8h .appdetailsplaysection_DetailsProgressContainer_25YVD {
  margin-top: 4px;
  margin-bottom: 4px;
}

div.NarrowRightPanel .appdetailsplaysection_MiniAchievements_UAhWi {
  display: unset;
}

.sharedappdetailsheader_TextNameSpace_3sUYx {
  transform: translateX(23.5vw);
}

/* END PLAY BAR LAYOUT */