/* PLAY BAR LAYOUT - BETA */

:root {
  --VerticalNavBarOffset: -80px;
}

._3Yf8b2v5oOD8Wqsxu04ar._1U7LKpx70kEsz3jJwAFOi- {
  position: relative;
  top: calc(-124px - 3vw);
  left: 15px;
  width: 33%;
  max-width: 345px;
  background: rgba(40, 40, 40, 0.7);
  backdrop-filter: blur(2px);
  border-radius: 4px;
}

._3Y87YQY56ZCOqhgcZFaDc5 {
  box-sizing: border-box;
  padding: 10px 12px 7px 17px;
  overflow-y: hidden;
}

._2L3s2nzh7yCnNESfI5_dN1 {
  width: 30%;
}

div.NarrowRightPanel ._2zxzStp5qY5M1evOm8keES {
  height: 50px;
}

._2r4TK4BAuU-J4FuF_O7v_5._3-V8vjmrwuJM6Ws3tsjFJj {
  transform: translateY(-145px);
}

._27RcNu8aXKBpYkHcNNrt-X._2OOzYVWIHaKXm6_7sscT9i > :nth-child(6) {
  transform: translateY(-145px);
}

._25oBZpa3dUcMw8QAsa2u67 {
  transform: translateY(-145px);
}

._9EHg918wH6CQCQlD5PWOO {
  flex-flow: column;
  width: 100%;
}

.sharedappdetailsheader_TopCapsule_NZMJ6 {
  z-index: -2;
  pointer-events: none;
}

.sharedappdetailsheader_Features_fqwOy, .sharedappdetailsheader_PinBox_2O6k6, .sharedappdetailsheader_BoxSizerDragBox_3ICyu {
  pointer-events: all;
}


._2L3s2nzh7yCnNESfI5_dN1.jnXtv79jL6SXXwlJYPtQz._3Yf8b2v5oOD8Wqsxu04ar._39RheXihcN6H2k2muQTjkI {
  width: 100%;
}

._1FnJ6dPuknQFQ2RTpKTI16._3cI5TXsFX3bvpR-7EBOtxq._1hhB2Wf7iExA15zh_lDQ_y {
  height: 90%;
}

._1YbtIWcfkQJOysLXQbwzRf {
  overflow: visible;
}

._1YbtIWcfkQJOysLXQbwzRf .zjtAIAWI6HE0oCtJzw6Qt {
  align-items: unset;
  overflow: visible;
}


._1mDAVT4sTzFRwJtlKCw2Ws {
  width: 100%;
  flex-direction: column;
  align-content: flex-start;
  flex-wrap: wrap;
}

._1YbtIWcfkQJOysLXQbwzRf ._1mDAVT4sTzFRwJtlKCw2Ws {
  width: 100%;
  padding-top: 4px;
}

._1dg8hJMsAYISbeQUxcCJcv._2F4PcO4yl7Xl5emuGiF2La {
  width: 100%;
  margin-left: 5px;
}

._1FnJ6dPuknQFQ2RTpKTI16 {
  height: 90%;
}

._1kiZKVbDe-9Ikootk57kpA._3pS8kMrtScuY1Qf-W8tmRV {
  //width: 45%;
}

._1kiZKVbDe-9Ikootk57kpA._1aKegVl9_lSdNAyWYZQlr9 {
  //width: 55%;
}

._1EAxK56o5a9Nieu5HYkJ4k {
  margin-left: auto;
  justify-content: flex-end;
  z-index: 2;
}


._2zxzStp5qY5M1evOm8keES {
  width: 50%;
  transform: scale(1);
  transform-origin: left;
}


._1kiZKVbDe-9Ikootk57kpA {
  margin: 0px;
  padding: 1px;
}

._2L3s2nzh7yCnNESfI5_dN1.jnXtv79jL6SXXwlJYPtQz._3Yf8b2v5oOD8Wqsxu04ar._39RheXihcN6H2k2muQTjkI > div > div > div {
  flex-direction: row;
}

._2L3s2nzh7yCnNESfI5_dN1.jnXtv79jL6SXXwlJYPtQz._3Yf8b2v5oOD8Wqsxu04ar._39RheXihcN6H2k2muQTjkI > div > div > div > div._1YbtIWcfkQJOysLXQbwzRf > div._1dg8hJMsAYISbeQUxcCJcv._2F4PcO4yl7Xl5emuGiF2La {
  width: 32%;
}


._34lrt5-Fc3usZU6trA1P0- {
  max-height: 16px;
}


._2L3s2nzh7yCnNESfI5_dN1.jnXtv79jL6SXXwlJYPtQz._3Yf8b2v5oOD8Wqsxu04ar._39RheXihcN6H2k2muQTjkI > div > div > div > :nth-child(1) {
  width: unset;
}

._2_86QNCjVvJTL3Qe6Xztx_ {
  background: linear-gradient(to bottom, rgba(40, 40, 40, 0.5) 0%, rgba(40, 40, 40, 0.2) 30%, rgba(40, 40, 40, 0) 100%);
}



._1EAxK56o5a9Nieu5HYkJ4k {
  margin-top: -90px;
}
  
.lO1IF132jJ1gc9yz2HYvV {
  flex-flow: column;
  padding-bottom: 10px;

  & > :last-child {
    margin-bottom: 0;
  }
}
  
._3qDWQGB0rtwM3qpXTb11Q- {
  margin-right: 0px;
  margin-top: 7px;
}  
  
._2L3s2nzh7yCnNESfI5_dN1.jnXtv79jL6SXXwlJYPtQz._3Yf8b2v5oOD8Wqsxu04ar._39RheXihcN6H2k2muQTjkI > div > div > div > :nth-child(3) > div {
  flex-direction: row;
  transform: translateY(8px);

  & > div {
    margin-right: 10px;
  }
}

/* Narrow */
div.NarrowRightPanel ._34lrt5-Fc3usZU6trA1P0- {
  min-width: 94px;
}

._3BFcmjAaMyP6GTPwc0VyWi.NarrowRightPanel.MediumRightPanel > div > div > div > div > div > div > div > div > div > div > div._1EAxK56o5a9Nieu5HYkJ4k {
  margin-top: -70px;
}

div.NarrowRightPanel ._1dg8hJMsAYISbeQUxcCJcv._2F4PcO4yl7Xl5emuGiF2La {
  margin-top: 5px;
}

div.NarrowRightPanel ._1dg8hJMsAYISbeQUxcCJcv ._25YVDTaClw6Y2COPsU0UaV {
  margin-top: 4px;
  margin-bottom: 4px;
}

div.NarrowRightPanel .UAhWiMg9Q2VPsQQBj_ikT {
  display: unset;
}

.sharedappdetailsheader_TextNameSpace_3sUYx {
  transform: translateX(23.5vw);
}

/* END PLAY BAR LAYOUT */