/* CLASSIC LAYOUT - BETA */

.sharedappdetailsheader_TopCapsule_NZMJ6 {
    min-height: unset;
}

.appdetailsheader_HeaderFeatures_2b6Wk {
  right: 16px;
}

.sharedappdetailsheader_TitleSection_30acA {
  right: 0;
}

.appdetailsoverview_Container_27RcN .appdetailsoverview_Spotlights_11kuV.appdetailsoverview_SpotlightLeftColumn_3wbnd {
  width: unset;
}

.appdetailsoverview_Container_27RcN .appdetailsoverview_Spotlights_11kuV {
  width: calc(103.4% - 258px);
}

.appdetailsoverview_Container_27RcN .appdetailsoverview_RightColumn_2aor4 {
  width: calc(100% - 195px);
}

.appdetailsoverview_Container_27RcN .appdetailsoverview_LeftColumn_1sZgB {
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 600px;
}

.appdetailsoverview_Container_27RcN {
  margin-bottom: -140px;
}

.appdetailssection_AppDetailsSection_2r4TK.appdetailsprimarylinkssection_LinksSection_3-V8v {
  transform: none;
}

.appdetailssection_AppDetailsSection_2r4TK.appdetailsprimarylinkssection_LinksSection_3-V8v {
  transform: translate(-2px, 0px) translateY(calc(var(--VerticalNavBarOffset) * 1.7));
  position: sticky;
  height: 0px;

}

.appdetailsoverview_Container_27RcN .appdetailsoverview_LeftColumn_1sZgB {
  margin-top: 30px;
}

.boxcarousel_BoxCarousel_3fiHs.spotlightgameplaysummary_SummaryCarouselContainer_wgbDI {
  width: 100%;
}

div.appdetailsoverview_Container_27RcN.appdetailsoverview_Glassy_2OOzY>div.appdetailsoverview_ColumnContainer_OhSdL>div.appdetailsoverview_Spotlights_11kuV>div>div>div>div.pageablecontainer_HeaderPageControls_2ce8e {
  width: 100%;
}

/* END CLASSIC LAYOUT */