/* LIST VIEW ONLY TWEAKS - EXPERIMENTAL */

:root {
  --SizeMultiplier: 1;
}

._3vHkmRShhzwd67_MtEq8-n._3DJLGrqzoQ5vMDI_4VG502, ._11p6Fm47YPaY-YjtuLYMMJ {
  grid-template-columns: repeat(auto-fill, 1000px) !important;
  grid-auto-rows: calc(var(--SizeMultiplier) * 46.5px) !important;
}

.WYgDg9NyCcMIVuMyZ_NBC {
  width: calc(var(--SizeMultiplier) * 10%);
}

._1LJqx_qFOC8199RBQO5kU8 {
  margin-left: calc(var(--SizeMultiplier) * 115px);
}

._1pwP4eeP1zQD7PEgmsep0W {
  perspective: unset;
  perspective-origin: unset;
}


/* END LIST VIEW ONLY TWEAKS */