/* Simplified HOME and Search
   ========================================================================== */

.gamelistbar_CollectionsButton_2CEKF {
    display: none; /* Remove collections button */
 }
 
 .gamelistbar_GameListHomeAndSearch_2TKEa {
    width: 5%; /* set total width of HOME + Collections buttons. Choose something between 2-10% */
 }
 
 .gamelistdropdown_Bar_1ZS_x .gamelistdropdown_MenuHeader_2PF_m .gamelistdropdown_Arrow_15aGn {
    display: none; /* remove GAMES, SOFTWARE... dropdown arrow */
 }
 
 .gamelistdropdown_Bar_1ZS_x .gamelistdropdown_Filters_1PgAo {
    display: none; /* Remove recent activity and "ready to play" button filters */
 }
 
 .gamelistdropdown_Bar_1ZS_x {
    width: 70%;
}

/* ========================================================================== 
   END Simplified HOME and Search */