/* LIST VIEW ONLY TWEAKS - EXPERIMENTAL */

/*
.cssgrid_CSSGrid_3vHkm.libraryhomeshowcases_ShowcaseGrid_3DJLG, .appgrid_YourCollection_11p6F {
  grid-template-columns: repeat(auto-fill, 1000px) !important;
  grid-auto-rows: 46.5px !important;
}

.appportrait_LibraryItemBox_WYgDg {
  width: 10%;
}

.appportrait_LibraryItemBoxSubscript_1LJqx {

  margin-left: 115px;
}
*/

/* END LIST VIEW ONLY TWEAKS */