/* ===== CREDITS  =====
/* Shiina♪#9670
/* DISCORD: https://discord.gg/UZvkvkh
/* GITHUB: https://github.com/AikoMidori/
/* -------------------------------------------------------------------------------------------
/* © 2021 All Rights Reserved. Created by Shiina♪
/**/

/* New steam theme */

.bSKGlAJG2UVWTsntEJY2v::before {
  display: none;
}  

.bSKGlAJG2UVWTsntEJY2v {
  content: none !important;
  display: none !important;
}

._2UyOBeiSdBayaFdRa39N2O::after {
  content: "" !important;
  margin-left: 25px !important;
}
._2UyOBeiSdBayaFdRa39N2O{
  margin-top: 27px !important;
  line-height: 4px !important;
  margin-left: 3px !important;
  content: "----!" !important;
  margin-right: 60px !important;
  background-repeat: no-repeat !important;
  background-image: url("https://cdn.discordapp.com/attachments/601492211586039824/1102616344668684339/login_logo.png") !important;
  background-size: 16px !important;
}
  

._2UyOBeiSdBayaFdRa39N2O:nth-of-type(2), ._2UyOBeiSdBayaFdRa39N2O:nth-of-type(3), ._2UyOBeiSdBayaFdRa39N2O:nth-of-type(4), ._2UyOBeiSdBayaFdRa39N2O:nth-of-type(5) {
  display: none !important;
}

/* top bar font size */
._7AlhCx3XGzBeIrQaCneUD {
  font-size: 15px !important;
}

/* top bar selected text color */
._7AlhCx3XGzBeIrQaCneUD._1gqEjB5QsKT_NftD1dEsdZ:not(._2cO0HdvLEGAdhosLekWsmo) ._19axKcqYRuaJ8vdYKYmtTQ {
  color: #fff !important;
}

/* top bar unselected text color */
._7AlhCx3XGzBeIrQaCneUD ._19axKcqYRuaJ8vdYKYmtTQ {
  color: grey !important;
}

/* top bar color line */
._7AlhCx3XGzBeIrQaCneUD._1gqEjB5QsKT_NftD1dEsdZ:not(._2cO0HdvLEGAdhosLekWsmo) ._19axKcqYRuaJ8vdYKYmtTQ::after {
  margin-top: 9px !important;
  height: 1px !important;
  background: #1a9fff !important;
}

/* Top bar color and height */
._39oUCO1OuizVPwcnnv88no {
  height: 45px !important;
  background: #191919 !important;
}

/* buttons to top bar */
._3Z3ohQ8-1NKnCZkbS6fvy {
  margin-top: -34px !important;
  width: 40% !important;
  margin-left: 30px !important;
}

/* announcement button replacement */
._5wILZhsLODVwGfcJ0hKmJ {
  display: none !important;
}

/* notification button replacement */
._3mGEzzp18imtSzGPkduedi {
  right: 0 !important;
  padding: 0 7px 0 15px !important;
  min-width: 24px !important;
  min-height: 30px !important;
  max-height: 30px !important;
  margin-right: 265px !important;
  border-radius: 4px !important;
  height: fit-content !important;
  margin-top: -15px !important;
  position: absolute !important;
  right: 0px !important;
}

/* top bar text centered */
._2D64jIEK7wpUR_NlObDW76 {
  margin-top: 0px !important;
}

._7AlhCx3XGzBeIrQaCneUD._1gqEjB5QsKT_NftD1dEsdZ:not(._2cO0HdvLEGAdhosLekWsmo) ._19axKcqYRuaJ8vdYKYmtTQ {
  color: #fff !important;
}

/* back anf forward button */
._25lBLzuVeYAUG279up4xP8 {
  margin-top: -5px !important;
}

/* window resize grip */
.window_resize_grip {
  background-image: none !important;
}

/* hide url bar */
._1bGewp3tfzqAF6fVTFFUOz .UkR3sY319PuaUNuUWks2K {
  display: none !important;
}

/* avatar reposition */
._1YGAHSfGavQI6MODJq-pJB {
  margin: 0 0 0 0 !important;
  margin-top: -2px !important;
  margin-right: 10px !important;
}

.offline ._1yIzy56YfJIliF6ykwhP2r {
  border-radius: 0px !important;
  width: 4px !important;
  height: 32px !important;
  left: 30px !important;
  top: 0px !important;
  z-index: 1 !important;
}

.online ._1yIzy56YfJIliF6ykwhP2r {
  border-radius: 0px !important;
  width: 4px !important;
  height: 32px !important;
  left: 30px !important;
  top: 0px !important;
  z-index: 1 !important;
}

.ingame ._1yIzy56YfJIliF6ykwhP2r {
  border-radius: 0px !important;
  width: 4px !important;
  height: 32px !important;
  left: 30px !important;
  top: 0px !important;
  z-index: 1 !important;
}

/* avatar size */
._1p_QrI3ixF-RAwnxad9pEm {
  border-radius: 0px !important;
  height: 32px !important;
  width: 32px !important;
}

/* hide arrow next to name */
._3yD46y5pd3zOGR7CzKs0mC ._3x51wbt5DYyWC8JKwQ51ir {
  display: none !important;
}

/* reposition name annd buttons top bar */
._3cykd-VfN_xBxf3Qxriccm {
  margin-top: 0px !important;
}

/* name font size */
._3yD46y5pd3zOGR7CzKs0mC {
  background: transparent !important;
  font-variant: all-small-caps !important;
  font-size: 16px !important;
  margin-right: 220px !important;
  margin-top: 0px !important;
}

/* hide large mode button */
._3LKQ3S_yqrebeNLF6aeiog {
  display: none !important;
}

/* close buttons */
.title-area {
  margin-top: 4px !important;
}

/* bottombar area */
._3vCzSrrXZzZjVJFZNg9SGu {
  /* bottom bar to top */
  background: transparent !important;
  margin-top: 8px !important;
  right: 0 !important;
  margin-right: 149px !important;
  position: fixed !important;
  top: 0 !important;
  border-radius: 4px !important;
  box-shadow: unset;
}

/* reposition bottom bar items in the top */
._2foCkpRXhqq0UGVE50BWqj {
  padding: 0 7px 0 15px !important;
  background-color: #2e2e2f !important;
  min-width: 24px !important;
  min-height: 30px !important;
  max-height: 30px !important;
  border-radius: 2px !important;
}

._2EQ7ghgqIdjKv9jsQC0Zq9 {
  padding: 0 10px 0 10px !important;
  background-color: #2e2e2f !important;
  min-width: 24px !important;
  min-height: 30px !important;
  max-height: 30px !important;
  border-radius: 2px !important;
  right: 0 !important;
  margin-right: 110px !important;
  position: fixed !important;
}

/* reposition bottom bar items in the top */
._1TdaAqMFadi0UTqilrkelR {
  padding: 0 7px 0 15px !important;
  margin-left: 7px !important;
  background-color: #2e2e2f !important;
  min-width: 24px !important;
  min-height: 30px !important;
  max-height: 30px !important;
  border-radius: 2px !important;
  margin-right: 4px;
}

._2VtAqT03BpBsVdmxwptn9D ._1KrJ3sFAqPBN9mfpaNTU5F {
  width: 24px !important;
  height: 24px !important;
}

._2_FomluqqgQ2Hx8ON3AVep { 
  margin-top: -2px !important;
}

._2VtAqT03BpBsVdmxwptn9D {
  max-width: 250px !important;
}

._2foCkpRXhqq0UGVE50BWqj ._1KrJ3sFAqPBN9mfpaNTU5F, ._1KrJ3sFAqPBN9mfpaNTU5F, ._1TdaAqMFadi0UTqilrkelR ._3OhUxFVlQYr9W5ThxstR8k {
  margin-bottom: 2px !important;
}

._2foCkpRXhqq0UGVE50BWqj ._3OhUxFVlQYr9W5ThxstR8k, ._1TdaAqMFadi0UTqilrkelR ._3OhUxFVlQYr9W5ThxstR8k, .ip-YZhijAMZcuRoXBGiye ._3wJnTtcTLEp0R7eQj_mK8Y{
  display: none !important;
}

._2VtAqT03BpBsVdmxwptn9D ._21vPQjHoo0uwud5lfCD_x- {
  background-image: none !important;
}

._1R9r2OBCxAmtuUVrgBEUBw {
  margin-top: 2px !important;
}

.RGNMWtyj73_-WdhflrmuY ._2CmrnGY-Amtd83ScJkFvx2 {
  min-height: 0px;
  height: 0px;
}