/* ==================== Game Properties ====================
   ========================================================================== */

:root {
  --CheckBoxColor: rgb(93 99 112 / 50%);
  --StatusColor: rgb(93 99 112 / 20%);
}

.DialogContent {
  padding: 10px 24px;
}

.DialogContentTransition {
  flex: 5.3;
  width: unset;
  max-width: unset;
}

.ModalDialogPopup .DialogContentTransition .DialogBody {
  overflow-y: hidden;
}

.appproperties_AppProperties_1FyBL .appproperties_Checkbox_2V2nc {
  background: var(--CheckBoxColor);
}

.DialogTextInputBase, ._DialogInputContainer {
  background: var(--CheckBoxColor);
}

.appproperties_AppProperties_1FyBL .DialogBody .appproperties_SteamInputStatusGrid_3lj3- {
  background: var(--StatusColor);
}

/* ========================================================================== 
   END Game Properties */

