/* Simplified HOME and Search
   ========================================================================== */

._2CEKFex6JMsAse2lqMMjUp {
   display: none; /* Remove collections button */
}
 
._2TKEazUUS3TlniZfpc8OOe {
   width: 5%; /* set total width of HOME + Collections buttons. Choose something between 2-10% */
}
 
._1ZS_xta5HMXzR8JgxDH6n7 ._2PF_m-I5yte3WnQhpcz8RC ._15aGnszAf3gHD-PFdJBoFD {
   display: none; /* remove GAMES, SOFTWARE... dropdown arrow */
}
 
._1ZS_xta5HMXzR8JgxDH6n7 ._1PgAonvorr0o_NMxNKiDFU {
   display: none; /* Remove recent activity and "ready to play" button filters */
}
 
._1ZS_xta5HMXzR8JgxDH6n7 {
   width: 70%;
}

/* ========================================================================== 
   END Simplified HOME and Search */