/*DLC MANAGER - JS Recommended
- row height set to 40px from 90px with JS
- gloss*/

.managedlcdialog_Container_1Gc2g .managedlcdialog_NameAndArt_2Mxb5 {
  height: 40px;
}

div.managedlcdialog_DLCArt_2sfDE.appdetailsdlcsection_DLCArt_2bF7X>div.libraryassetimage_Container_1R9r2.libraryassetimage_Visibility_3d_bT.libraryassetimage_Visible_yDr03.libraryassetimage_LandscapeImage_ZsU8n.appdetailsdlcsection_Art_3SQn1>img {
  width: 48%;
  margin: 0 auto;
  height: 40px;
}

.managedlcdialog_DLCArt_2sfDE.appdetailsdlcsection_DLCArt_2bF7X>div.appdetailsdlcsection_Gloss_HAvWs {
  width: 44%;
  left: 28%;
}

.managedlcdialog_DLCArt_2sfDE.appdetailsdlcsection_DLCArt_2bF7X>img {
  width: 44%;
}

div.managedlcdialog_DLCArt_2sfDE.appdetailsdlcsection_DLCArt_2bF7X>div {
  box-shadow: none !important;
}

/* END DLC MANAGER */