/* CLASSIC LAYOUT - BETA */
:root {
  --ClassicWidth: calc(100% - 185px);
  --ClassicStyleBackgroundWidth: -0.5%;
}

.sharedappdetailsheader_TopCapsule_NZMJ6 {
    min-height: unset;
}

._2b6WkTnmJxMuX1biL7aS3C {
  right: 16px;
}

.sharedappdetailsheader_TitleSection_30acA {
  right: 0;
}

/* single/multiplayer/controller support icons */
.sharedappdetailsheader_TitleSection_30acA {

  & .sharedappdetailsheader_Features_fqwOy {
    padding-right: 20px;
  }
}

._27RcNu8aXKBpYkHcNNrt-X ._11kuVRYZvWXn-3rBJ_6yL8._3wbndu1paxHkciYr4rFJH5 {
  width: calc(100% - 201px);
}

._27RcNu8aXKBpYkHcNNrt-X ._11kuVRYZvWXn-3rBJ_6yL8 {
  width: calc(100% - 205px);
}

._27RcNu8aXKBpYkHcNNrt-X ._2aor4XVOYzN1PBSREk0UbO{
  width: var(--ClassicWidth);
}

._27RcNu8aXKBpYkHcNNrt-X ._1sZgBDTw5NH-yuVDZK1SUU {
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 600px;
}

._27RcNu8aXKBpYkHcNNrt-X {
  margin-bottom: -140px;
}

._2r4TK4BAuU-J4FuF_O7v_5._3-V8vjmrwuJM6Ws3tsjFJj {
  transform: none;
}

._2r4TK4BAuU-J4FuF_O7v_5._3-V8vjmrwuJM6Ws3tsjFJj {
  transform: translate(8px, 0px) translateY(calc(var(--VerticalNavBarOffset) * 1.7));
  position: sticky;
  height: 0px;
  order: 3;
}

._27RcNu8aXKBpYkHcNNrt-X ._1sZgBDTw5NH-yuVDZK1SUU {
  margin-top: 30px;
}

._3fiHsLeD_6rtm6bM9lHlVL.wgbDI6To-SKawn9wQwVaw {
  width: 100%;
}

div._27RcNu8aXKBpYkHcNNrt-X._2OOzYVWIHaKXm6_7sscT9i > div.OhSdLYuggDtBcWjYP0j_9 > div._11kuVRYZvWXn-3rBJ_6yL8 > div > div > div > div.pageablecontainer_HeaderPageControls_2ce8e {
  width: 100%;
}

/* END CLASSIC LAYOUT */