/* ==================== GameList Sidebar ====================
   ========================================================================== */

/* Gamelist entry - font size */

.gamelistentry_Container_2-O4Z {
  font-size: var(--GameListEntrySize);
}

.gamelistentry_Container_2-O4Z.gamelistentry_HoverOverlay_3cMVy {
  height: 100%;
}

/* Gamelist entry - icon size */

.gamelistentry_Container_2-O4Z .gamelistentry_GameIcon_ga1hy {
  height: 22px;
  width: 22px;
}

/* Fix hover text to the bottom. With JavaScript tweaks this can be dynamic.*/

.gamelistentry_FriendStatusHover_2iiN7 {
  bottom: var(--HoverOverlayPosition) !important;
}

/* Context Menu font size */
.contextmenu_contextMenuContents_2EstN {
  font-size: var(--ContextMenuFontSize);
}

/* Context Menu line spacing/height */
.contextmenu_contextMenuItem_1n7Wl {
  line-height: var(--ContextMenuLineHeight);
  height: var(--ContextMenuLineHeight);
}

/* remove border */

.gamelistsectionheader_Container_2sYIg {
  box-sizing: border-box;
  color: #707379;
  border: 0px solid rgba(0, 0, 0, 0);
}

/* category name - repositioning */
.gamelistsectionheader_SectionHeaderContent_3cV3O {
  margin-top: 3px;
  padding: 0px 9px 5px 9px;
}


/* category name - font size and height*/
.gamelistsectionheader_SectionName_2mZ8L {
  font-size: var(--CategoryNameHeaderSize);
  height: 15px;
}


/* category count - font size and height*/
.gamelistsectionheader_SectionCount_29ute {
  font-size: 13px;
  color: rgba(255, 255, 255, 0.5);
}

/* Zoom out both the gamelist container and the hover text for long game names */
.gamelist_Container_1ijTa,
.gamelistentry_Container_2-O4Z.gamelistentry_HoverOverlay_3cMVy {
  zoom: var(--GameListZoomSize);
  position: relative;
}

/* Fix hover text to the bottom if default JS, position dynamically if JS tweaked. */
.gamelistentry_Container_2-O4Z.gamelistentry_HoverOverlay_3cMVy {
  position: fixed;
  height: 28px;
  bottom: var(--HoverOverlayPosition);
}

.library_LeftListSizableContainer_9sPoV {
  display: var(--ShowLeftSidebar);
}

.gamelisthome_Bar_3pSPl.gamelisthome_Selected_eNLOx {
  border-radius: 3px;
}

.gamelisthome_Bar_3pSPl.gamelisthome_CollectionButton_30KGS {
  margin-left: 6px;
}

/*Home button text centred*/
.gamelisthome_Label_3O48L {
  margin: auto;
}

/* ========================================================================== 
   END GameList Sidebar */