/* ==================== Sidebar - Home and Search ====================
   ========================================================================== */

   :root {
    --SidebarBackgroundImage: linear-gradient(to bottom, #2d333c 0%, #24282f 20%);
  }
  
  /* Container grid setup */
  .gamelistbar_Container_3x1Hk {
    background-color: none;
    background-image: var(--SidebarBackgroundImage);
    display: grid !important;
    grid-template-rows: 38px fit-content(20%) auto;
    grid-template-columns: minmax(94px, 35%) auto;
  }
  
  /*Home bar width: 1st column, align with Gamelist dropdown and buttons*/
  .gamelistbar_GameListHomeAndSearch_2TKEa {
    background-color: unset !important;
    box-shadow: 0 0 0px rgba(0, 0, 0, 0.8) !important;
    padding: 6px 3px 0px 6px !important;
    grid-column-start: 1;
  }
  
  /* Gamelist dropdown and buttons width: 2nd column, align with home bar*/
  .gamelistdropdown_Bar_1ZS_x {
    padding: 6px 3px 0px !important;
    grid-column-start: 2;
  }
  
  /* Games dropdown width increased */
  .gamelistdropdown_DropDown_EDl_m {
    width: 195px !important;
  }
  
  /* Other divs to max width (2 columns) */
  .gamelist_Container_1ijTa, .gamelistsearchbar_Container_20QAC, .gamelist_NoSearchResultsContainer_1fbRp {
    grid-column-start: 1;
    grid-column-end: span 2;
  }
  
  /* Round only outsie corners of Advanced Search filters button */
  .gamelistsearchbar_Container_20QAC .gamelistsearchbar_AdvancedSearchContainer_vCCmY {
    border-radius: 0px 4px 4px 0px;
  }
  
  /* ========================================================================== 
     END Sidebar - Home and Search */