/* Have game images on Home page game grid not zoom/expand when hovered */

._1pwP4eeP1zQD7PEgmsep0W {
    perspective: unset;
}

._54PuCatl_tYG836TOs4Mv .WYgDg9NyCcMIVuMyZ_NBC:hover:not(._3VOR2AeYATx3qSE0I-Pm-5) {
    transform: unset;
    filter: unset;
}