/* SteamUI-OldGlory CSS Tweaks v1.5
   by Jonius7 
*/

/* Configurable variables */
:root {
  /* What's New */
  --WhatsNew: block;  /* Default: block. Set to none to hide What's New */
  --WhatsNewOrder: 2;  /* Default: 0. Set 0 to put to top, 1 or higher to put to bottom */

  /* Left Sidebar - Games List */
  --HoverOverlayPosition: unset;  /* Default: 0. Set 0 if default JS, unset if tweaked JS */
  --GameListEntrySize: 16px;  /* Default: 16px.  */
  --CategoryNameHeaderSize: 13px;  /* Default: 13px.  */
  --GameListZoomSize: 75%;  /* Default: 100%. 75% highly recommended for Game List similar to old Library UI. Affects GameListEntrySize and CategoryNameHeaderSize */
  --ShowLeftSidebar: flex;  /* Default: flex. Set to none to hide left sidebar */

  /* Right Click Context Menu */
  --ContextMenuLineHeight: 16px;  /* Default: inherit. Currently will override very long category names */
  --ContextMenuFontSize: 13px;  /* Default: 14px.  */

  /* Game Grid */
  --RemoveShine: none;  /* Default: block. Set to none to Remove Shine/Glare on game grid images, which can cause discomfort */
  --GameImageTransition: 1.5s;  /* Default: . 4s, .4s, .4s, .2s. Grid Game Images transition time. 0s for instant, 2s for smooth. */
  --GameImageOpacity: 1;  /* Default: 1. Suggested values for "softer" images: 0.7 or 0.5 */
  --UninstalledGameImageOpacity: 0.5;  /* Default: 1. Suggested values: 0.5, 0.2 */
  --GameGridImageBackground: inherit;  /* Default: inherit. Default is inherit, set #365d2d for a friendly green */
  --GridRowGap: 8px;  /* Default: 24px. Corresponds with JavaScript tweak - Home Page Grid Spacing. */
  --GridColumnGap: 5px;  /* Default: 16px. Corresponds with JavaScript tweak - Home Page Grid Spacing. */

  /* Game Page Layout */
  --FriendsDLCScreenshotsColumnWidth: 61%;  /* Default: 33%. Determines width of the Friends Who Play/Achievements/Screenshots/DLC/Trading Cards column. Friend Activity/News column will fill the rest. */
  --SwapColumns: left;  /* Default: right. Set left to swap columns. */

  /* Game Page Background */
  --AppPageBlur: 2px;  /* Default: 8px. Controls the blur between the Header and AppPage content. 2px for a more clean look. */
  --AmbientBlur: black;  /* Default: black 80%. Set to rgba(0,0,0,0) to remove */

  /* Other */
  --VerticalNavBarOffset: 0px;  /* Default: 0px. Leave at 0px, this var is for steam-library compatibility and vertical nav bar */
}
/* ==================== GameList Sidebar ====================
   ========================================================================== */

/* Games dropdown width increased */
.gamelistdropdown_DropDown_EDl_m {
  width: 195px !important;
}


/* Search bar 100% width, padding especially top, reduced */

.gamelistsearchbar_Container_20QAC {
  width: 100%;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-top: -6px;
}

/* Round inner corners of Advanced Search filters button */
.gamelistsearchbar_Container_20QAC .gamelistsearchbar_AdvancedSearchContainer_vCCmY {
  border-radius: 0px 4px 4px 0px;
}

/* fix search bar sometimes flexing down a few pixels */

.gamelistsearchbar_Container_20QAC .gamelistsearchbar_SearchInput_12vo5 {
  height: 10px;
}

/* Gamelist entry - font size */

.gamelistentry_Container_2-O4Z {
  font-size: var(--GameListEntrySize);
}

.gamelistentry_Container_2-O4Z.gamelistentry_HoverOverlay_3cMVy {
  height: 100%;
}


/* Gamelist entry - icon size */

.gamelistentry_Container_2-O4Z .gamelistentry_GameIcon_ga1hy {
  height: 22px;
  width: 22px;
}


/* Fix hover text to the bottom. With JavaScript tweaks this can be dynamic.*/

.gamelistentry_FriendStatusHover_2iiN7 {
  bottom: var(--HoverOverlayPosition) !important;
}

/* Context Menu font size */
.contextmenu_contextMenuContents_2EstN {
  font-size: var(--ContextMenuFontSize);
}

/* Context Menu line spacing/height */
.contextmenu_contextMenuItem_1n7Wl {
  line-height: var(--ContextMenuLineHeight);
  height: var(--ContextMenuLineHeight);
}




/* remove border */

.gamelistsectionheader_Container_2sYIg {
  box-sizing: border-box;
  color: #707379;
  border: 0px solid rgba(0, 0, 0, 0);
}

/* category name - repositioning */
.gamelistsectionheader_SectionHeaderContent_3cV3O {
  margin-top: 3px;
  padding: 0px 9px 5px 9px;
}


/* category name - font size and height*/

.gamelistsectionheader_SectionName_2mZ8L {
  font-size: var(--CategoryNameHeaderSize);
  height: 15px;
}


/* category count - font size and height*/

.gamelistsectionheader_SectionCount_29ute {
  font-size: 13px;
}


/* Make game list height constant so search bar doesn't "flex" down */

.gamelist_Container_1ijTa {
  height: calc(94.4% - 76px + 0.017vmax * 65);
}


/*start new CSS sections */


/* Zoom out both the gamelist container and the hover text for long game names */

.gamelist_Container_1ijTa,
.gamelistentry_Container_2-O4Z.gamelistentry_HoverOverlay_3cMVy {
  zoom: var(--GameListZoomSize);
  position: relative;
}


/* Fix hover text to the bottom if default JS, position dynamically if JS tweaked. */

.gamelistentry_Container_2-O4Z.gamelistentry_HoverOverlay_3cMVy {
  position: fixed;
  height: 28px;
  bottom: var(--HoverOverlayPosition);
}

/* Make nosearchresults height constant so search bar doesn't "flex" down */

.gamelist_NoSearchResultsContainer_1fbRp {
  margin: 2px;
  height: calc(97.8% - 76px + (1600px - 100vmax) * 0.007);
}


/*Gamelist dropdown and buttons width reduced to 50%, align with home bar*/

.gamelistdropdown_Bar_1ZS_x {
  width: 50%;
  flex: 1 1 auto;
  padding: 6px 3px 0px;
  height: 36px;
}


.library_LeftListSizableContainer_9sPoV {
  display: var(--ShowLeftSidebar);
}

/* remove height: 100% */

.gamelistbar_Container_3x1Hk {
  background-image: linear-gradient(to bottom, #2d333c 0%, #24282f 20%);
  height: unset;
  flex: 1;
  display: flex;
  min-width: 0;
  flex-direction: row;
  flex-wrap: wrap;
  user-select: none;
  outline: none;
}


/*Home bar width reduced to 20%, align with Gamelist dropdown and buttons*/

.gamelistbar_GameListHomeAndSearch_2TKEa {
  padding: 6px 3px 0px 6px;
  background-color: unset;
  box-shadow: 0 0 0px rgba(0, 0, 0, 0.8) !important;
  position: relative;
  display: flex;
  height: 36px;
  flex: 1 1 auto;
  width: 20%;
}

.gamelisthome_Bar_3pSPl.gamelisthome_Selected_eNLOx {
  border-radius: 3px;
}

.gamelisthome_Bar_3pSPl.gamelisthome_CollectionButton_30KGS {
  margin-left: 6px;
}

/*Home button text centred*/
.gamelisthome_Label_3O48L {
  margin: auto;
}

/* ========================================================================== 
   END GameList Sidebar */

/* ==================== General Library and Scrollbar ====================
   ========================================================================== */

/* Library Home padding and background */
.libraryhome_LibraryHome_3Sb2o {
  padding: 8px 12px 12px; /* default 8px 14px 14px */
  /*background-image: linear-gradient(to bottom, #2d333c 0%, #24282f 20%);*/
}


/* Scrollbar tweaks */
.library_Container_3xRRJ *::-webkit-scrollbar, .library_LibraryContextMenu_1UOkn::-webkit-scrollbar {
  width: 16px; /* default 12px */
  
}
::-webkit-scrollbar-thumb {
  border-radius: 4px; /* default 10px */
}

.library_Container_3xRRJ *::-webkit-scrollbar-thumb, .library_LibraryContextMenu_1UOkn::-webkit-scrollbar-thumb {
  border: 1px solid transparent; /* default: 3px solid transparent */
  border-right: 0px solid transparent;
  background-color: rgba(140,140,140,0.35);
}

.library_Container_3xRRJ *::-webkit-scrollbar-thumb:active, .library_LibraryContextMenu_1UOkn::-webkit-scrollbar-thumb:active {
  border: 1px solid transparent;
  border-right: 0px solid transparent;
}

/* ==================== Your Collections ====================
   ========================================================================== */

/* Your Collections header and side padding reduced*/

.allcollections_ScrollContainer_u1xD3 {
  padding: 10px 14px;
}

/* Game AppPage Header
   ========================================================================== */

/* App Page main header - down to 60% the height */

.sharedappdetailsheader_TopCapsule_NZMJ6 {
  width: 60%;
  height: 14.4vw !important;
}


/* Unset Header Image height to show top and bottom */

.sharedappdetailsheader_ImgContainer_QlR9E {
  height: unset;
}


/* App Page main header - expanding and resizing */

.sharedappdetailsheader_ImgSrc_HNbe3 {
  width: calc(180% + 128px);
  height: 160%;
  left: 300px;
}


.sharedappdetailsheader_ImgSrc_HNbe3.sharedappdetailsheader_ImgBlurBackdrop_3_IUV {
  width: calc(180% + 128px);
  -webkit-mask-image: linear-gradient(to bottom, var(--AmbientBlur) 80%, rgba(0, 0, 0, 0) 100%);
}


/* ========================================================================== 
   END Your Collections */

/* ==================== Game AppPage Sections ====================
   ========================================================================== */
/*Remove Appdetail margins */

.appdetailssection_AppDetailsSection_2r4TK {
  padding-bottom: 6px;
  margin: 0px;
}

.appdetailssection_AppDetailsSectionContainer_31ptF {
  margin: 8px;
}

/* Section box background color */
.appdetailssection_AppDetailsSectionContainer_31ptF.appdetailssection_RightColumnSection_3KfxI {
  background: radial-gradient(100% 80% at 64% 95%, rgba(104, 112, 124, 0.5) 0%, rgba(91, 99, 112, 0.5) 40%, rgba(24, 35, 36, 0.5) 100%);
}


button.DialogButton.appdetailsbutton_AppDetailsButton_3Cdin.appdetailsbutton_BottomRight_3nJyY {
  margin-top: -4px;
  padding: 2px 8px;
}

.appdetailsfriendssection_Subsection_39bm0 {
  margin-bottom: 6px;
}


/* Move Additional Content to bottom */
div.appdetailsoverview_RightColumn_2aor4>div:nth-child(3) {
  order: 5;
}

/* ========================================================================== 
   END Game AppPage Sections */

/* ================== Game AppPage Header/Section Boundary ==================
   ========================================================================== */
/* added a darker gradient to the top of the apppage below the Game Image */

.appdetailsoverview_Glassy_2OOzY .appdetailsoverview_Backdrop_1Qa-A {
  background: linear-gradient(0deg, rgba(40, 41, 49, 0) 0%, rgba(51, 51, 51, 0.2) 35%, rgba(51, 51, 51, 0.5) 100%);
}

/* Height of blur over background image. If a low value, most of the background will be clear. default: 450px
   Background color
*/

.appdetailsoverview_Glassy_2OOzY .appdetailsoverview_BackdropGlass_Jbe-- {
  height: 2000px;
  background: linear-gradient(to bottom, rgba(40, 40, 40, 0.1) 0%, rgba(39, 44, 53, 0.5) 82px, rgba(40, 40, 40, 0.6) 92%, rgba(40, 40, 40, 0) 100%);
  backdrop-filter: blur(var(--AppPageBlur));
}

/* ========================================================================== 
   END Game AppPage Header/Section Boundary */

/* Game AppPage Info Panel ======================================== */
.appdetailsgameinfopanel_Container_2jPMy .appdetailsgameinfopanel_SectionContainer_1uS70 .appdetailsgameinfopanel_GameDescription_3GkV1 {
  color: rgba(195, 195, 195, 1);
}


/* Game AppPage Post-Game Summary & Spotlight
   ========================================================================== */
/* Expand Post-Game summary to fill width */

.boxcarousel_BoxCarousel_3fiHs.spotlightgameplaysummary_SummaryCarouselContainer_wgbDI {
  /* height: 192.5px !important; */
  width: 163%;
}

div.appdetailsoverview_Container_27RcN.appdetailsoverview_Glassy_2OOzY>div.appdetailsoverview_ColumnContainer_OhSdL>div.appdetailsoverview_Spotlights_11kuV>div>div>div>div.pageablecontainer_HeaderPageControls_2ce8e {
  width: 163%;
}

/* Adjust padding */
.appdetailsoverview_Container_27RcN .appdetailsoverview_ColumnContainer_OhSdL {
  padding: 4px 10px;
}

/* Reduce Spotlight width and size */
.appdetailsoverview_Container_27RcN .appdetailsoverview_Spotlights_11kuV {
  width: 59.5%;
}

.appdetailsoverview_Container_27RcN .appdetailsoverview_Spotlights_11kuV.appdetailsoverview_SpotlightLeftColumn_3wbnd {
  width: calc(63.7% - 42px);
}

.boxcarousel_BoxCarousel_3fiHs.appdetailsspotlight_NewDLCImages_ENdo7 {
  height: unset !important;
}

/*Change Game Summary separator from small dot to thin line-clamp*/

.spotlightgameplaysummary_TypeSeparator_11ner {
  background-color: rgba(132, 154, 182, 0.3);
  width: 1px;
  height: 160px;
  border-radius: 3%;
  margin: 10px 16px;
  align-self: center;
}

/* Game AppPage MAIN COLUMNS
   ========================================================================== */

.appdetailsoverview_Container_27RcN .appdetailsoverview_RightColumn_2aor4 {
  width: var(--FriendsDLCScreenshotsColumnWidth);
  margin-left: 0;
  margin-right: 10px;
  float: var(--SwapColumns);
}

.appdetailsactivitysection_ActivityFeedContainer_3yTl3 {
  max-width: unset;
}


/* Game AppPage Achievements Section ======================================== */
/*
.appdetailsachievementssection_Featured_1j_gj .appdetailsachievementssection_TextSection_1s_9c .appdetailsachievementssection_Name_39Y01 {
  font-size: 12px;
}

.appdetailsachievementssection_Featured_1j_gj .appdetailsachievementssection_TextSection_1s_9c .appdetailsachievementssection_Desc_2gLHb {
  font-size: 11px;
}
*/


/* Game AppPage Play Bar
   ========================================================================== */
/* increase text opacity of heading fr Last Played, Play Time, Achievements*/

.appdetailsplaysection_PlayBarLabel_34lrt {
  color: rgba(255, 255, 255, 0.9);
}


/* increase icon opacity of Play Time */

.appdetailsplaysection_Playtime_1aKeg .appdetailsplaysection_PlaytimeIcon_1GZdo svg polyline,
.appdetailsplaysection_Playtime_1aKeg .appdetailsplaysection_PlaytimeIcon_1GZdo svg path {
  stroke: rgba(255, 255, 255, 0.5);
}

.appdetailsplaysection_Playtime_1aKeg .appdetailsplaysection_PlaytimeIcon_1GZdo svg circle {
  stroke: rgba(255, 255, 255, 0.5);
  fill: rgba(255, 255, 255, 0.5);
}


/* increase text opacity of value for Last Played, Play Time*/

.appdetailsplaysection_PlayBarDetailLabel_2TYVG,
.appdetailsplaysection_LastPlayed_3pS8k .appdetailsplaysection_LastPlayedInfo_1nfJN {
  color: rgba(255, 255, 255, 0.5);
}


/* LEFT COLUMN */

/* Game AppPage Activity - Friends
   ========================================================================== */
/* Remove Activity item margin */

.appactivityday_AppActivityDay_S2Fu9 {
  margin-bottom: 0px;
  margin-top: -29px;
}

.appdetailssection_AppDetailsSectionContainer_31ptF.appdetailssection_AppDetailsSectionHasLabel_2G5B7 > div > div:nth-child(2) {
  margin-top: 0px;
}

/* Activity Achievement Unlocked to 2 columns */

.appactivityday_ActivityAchievementUnlocked_yJLy7 {
  padding: 6px;
  grid-template-columns: repeat(auto-fill, [col-start] minmax(140px, 48%) [col-end]) !important;
  gap: 8px 8px;
}

/* Game AppPage Activity - Broadcasts
   ========================================================================== */
.appdetailssection_Body_5uvIN.appdetailsbroadcastsection_Body_CFp7F {
  align-content: flex-end;
}

.appdetailsbroadcastsection_BroadcastBox_9nwsC {
  width: 50%;
  height: 50%;
  margin-left: auto;
}

/* Game AppPage Activity - Events
   ========================================================================== */
   
/* Activity Heading Padding */
.appdetailsactivitysection_ActivityFeedContainer_3yTl3 > div {
  padding-left: 0px;
}

/* Remove Activity Event margin */

.appactivityday_Event_UVeN0 {
  margin-top: 3px;
}

/* Font size for large event title */

.appactivityday_PartnerEventLargeImage_Title_3fsjz {
  font-size: 16px;
}


/* Font size for medium event*/
.appactivityday_PartnerEventMediumImage_Title_1gljE {
  font-size: 16px;
}

.appactivityday_PartnerEventMediumImage_Contents_2gv3E {
  padding: 10px;
}

/* Fix event image and text widths */

.appactivityday_ImageContainer_1XpBI {
  max-width: 260px;
  min-width: 240px;
  padding: unset;
  padding: 0px 6px;
}

.appactivityday_PartnerEventLargeImage_Image_fGDsm {
  max-width: 250px;
}

.appactivityday_PartnerEventLargeImage_TextColumn_2HzKE {
  position: relative;
  padding: 8px 12px 12px 0px;
  margin-top: 0px;
  flex: 1;
  max-height: 130px;
}

.appactivityday_MediumImageContainer_ddB5G {
  width: 200px;
  height: unset;
}

.appactivityday_PartnerEventMediumImage_Image_VytJz {
  max-width: 200px;
}

.appactivityday_PartnerEventMediumImage_Title_1gljE {
  max-width: 600px;
  -webkit-line-clamp: 3 !important;
}

.appactivityday_PartnerEventMediumImage_TextColumn_3dJ4B {
  padding: 0px;
  display: flex;
}

/* margin bottom for trading card activity */
.appactivityday_Event_UVeN0 .appactivityday_EventBody_NEMXh {
    margin-bottom: 12px;
}

/* Game AppPage Navigation Bar
   ========================================================================== */
/* Tweak nav bar to be bigger and more opaque*/

.appdetailsprimarylinkssection_LinksSection_3-V8v .appdetailsprimarylinkssection_Links_DgVQa {
  height: 35px !important;
}

.appdetailsprimarylinkssection_LinksSection_3-V8v .appdetailsprimarylinkssection_LinksSectionBody_25f0f {
  padding: 0px 10px 3px 4px !important;
}

.appdetailsprimarylinkssection_LinkInner_7k4qm {
  position: absolute;
  padding: 4px 16px 4px 0px !important;
  margin-right: 0px;
}

.appdetailsprimarylinkssection_LinkInner_7k4qm .appdetailsprimarylinkssection_Text_2sNDj {
  color: rgba(255, 255, 255, 0.7);
  white-space: nowrap;
  font-size: 15px;
}

.appdetailsprimarylinkssection_LinkInner_7k4qm .appdetailsprimarylinkssection_Link_1b6LY {
  padding: 3px 12px 3px 12px;
}



/* Home Page - What's New
   ========================================================================== */
/* Height of What's New container */
.LibraryDisplaySizeSmall .libraryhome_UpdatesContainer_17uEB {
  height: 270px;
}

.smartscrollcontainer_Body_3lDcz.libraryhome_InnerContainer_2AUVZ {
  display: flex;
  flex-flow: column;
}

/* Move What's New to bottom */

.libraryhome_WhatsNewContainer_gdZT7 {
  display: var(--WhatsNew);
  order: var(--WhatsNewOrder);

}

/* Home Page - Steam Games Grid
   ========================================================================== */

/* Move Hours Played/Size on Disk/Metacritic Score... text box up */

.appportrait_LibraryItemBoxSubscript_1LJqx {
  margin-top: -32px;
  padding: 2px 8px;
}

/* Move small "Friend Playing" box on Steam Grid */
.appportrait_FriendsBar_3dncO.appportrait_IconsView_1WWmQ:not(.appportrait_PortraitHover_301ft) {
  transform: translateY(-12px);
}

/* Recommended corresponding JS tweak: default gap is 24px 16px */
.cssgrid_CSSGrid_3vHkm.libraryhomeshowcases_ShowcaseGrid_3DJLG,
.appgrid_YourCollection_11p6F {
  gap: var(--GridRowGap) var(--GridColumnGap) !important;
}

}

.appportrait_HoversEnabled_54PuC .appportrait_LibraryItemBox_WYgDg:hover .appportrait_UninstalledIcon_8YrRm {
  opacity: .9;
}

/* Remove grid shine/glare */
.appportrait_LibraryItemBoxShine_MyNb5 {
  display: var(--RemoveShine);
}

/* Remove transitioning on game images when scrolling */
.appportrait_PortraitImage_2IYf7 {

  transition-duration: var(--GameImageTransition) !important;
  transition-timing-function: unset;
}

/* Background color behind game images */
.appportrait_LibraryItemBox_WYgDg {
  background-color: var(--GameGridImageBackground);
}

/* Grid game image opacity */
.appportrait_PortraitImage_2IYf7.appportrait_Capsule_13w3S.appportrait_CapsuleVisible_3QIfJ {
  opacity: var(--GameImageOpacity);
}

/* Grid - Uninstalled game image opacity */
.appportrait_Draggable_1pwP4>.appportrait_LibraryItemBox_WYgDg:nth-last-of-type(2) {
  opacity: var(--UninstalledGameImageOpacity);
}

.appportrait_Draggable_1pwP4>.appportrait_LibraryItemBox_WYgDg:nth-last-of-type(3) {
  opacity: var(--UninstalledGameImageOpacity);
}

/* CSS Grid height unset */
.cssgrid_Container_DGRkX {
  height: unset !important;
}


/*Responsive DLC Grid Columns */

div.appdetailsdlcsection_DLCSection_2ycfN .appdetailsdlcsection_DLC_15tTA {
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  /*justify-content: center;*/
}


/*Shrink Screenshots size to show more (JS recommended)*/

.appdetailsscreenshotssection_ScreenshotsSection_2_TE0 .appdetailsscreenshotssection_Screenshots_2fgcq {
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-template-rows: auto auto auto;
  overflow-y: scroll;
}

div.NarrowRightPanel .appdetailsscreenshotssection_ScreenshotsSection_2_TE0 .appdetailsscreenshotssection_Screenshots_2fgcq {
  grid-template-rows: auto auto;
}

/*DLC MANAGER - JS Recommended
- row height set to 40px from 90px with JS
- gloss*/

.managedlcdialog_Container_1Gc2g .managedlcdialog_NameAndArt_2Mxb5 {
  height: 40px;
}

div.managedlcdialog_DLCArt_2sfDE.appdetailsdlcsection_DLCArt_2bF7X>div.libraryassetimage_Container_1R9r2.libraryassetimage_Visibility_3d_bT.libraryassetimage_Visible_yDr03.libraryassetimage_LandscapeImage_ZsU8n.appdetailsdlcsection_Art_3SQn1>img {
  width: 48%;
  margin: 0 auto;
  height: 40px;
}

.managedlcdialog_DLCArt_2sfDE.appdetailsdlcsection_DLCArt_2bF7X>div.appdetailsdlcsection_Gloss_HAvWs {
  width: 44%;
  left: 28%;
}

.managedlcdialog_DLCArt_2sfDE.appdetailsdlcsection_DLCArt_2bF7X>img {
  width: 44%;
}

div.managedlcdialog_DLCArt_2sfDE.appdetailsdlcsection_DLCArt_2bF7X>div {
  box-shadow: none !important;
}

/* END DLC MANAGER */


/*HORIZONTAL GAME IMAGE TWEAKS*//*

.appdetailsgameinfopanel_Container_2jPMy .appdetailsgameinfopanel_InnerContainer_37mmO {
  grid-template-columns: 202px repeat(2, minmax(0, 1fr)) max-content;
}

.appportrait_LibraryItemBoxSubscript_1LJqx {
  margin-top: -16px;
}

.boxcarousel_BoxCarouselContents_3CJct.boxcarousel_MaskRight_1urF0 {
    padding-bottom: 10px;
}


*//*END HORIZONTAL GAME IMAGE TWEAKS*/


/* LIST VIEW ONLY TWEAKS - EXPERIMENTAL */

/*
.cssgrid_CSSGrid_3vHkm.libraryhomeshowcases_ShowcaseGrid_3DJLG, .appgrid_YourCollection_11p6F {
  grid-template-columns: repeat(auto-fill, 1000px) !important;
  grid-auto-rows: 46.5px !important;
}

.appportrait_LibraryItemBox_WYgDg {
  width: 10%;
}

.appportrait_LibraryItemBoxSubscript_1LJqx {

  margin-left: 115px;
}
*/

/* END LIST VIEW ONLY TWEAKS */


/* PLAY BAR LAYOUT - BETA *//*
:root {
  --VerticalNavBarOffset: -70px;
}

.appdetailsplaysection_Container_3Yf8b.appdetailsplaysection_InPage_1U7LK {
  transform: translate(calc(8vmax - 27%), calc(-8vmax - 42%));
  width: 33%;
  max-width: 345px;
  background: rgba(40, 40, 40, 0.7);
  backdrop-filter: blur(2px);
  border-radius: 4px;
}

.appdetailsplaysection_InnerContainer_3Y87Y {
  box-sizing: border-box;
  padding: 10px 12px 7px 12px;
  overflow-y: hidden;
}

.appdetails_PlayBar_2L3s2 {
  width: 30%;
}

.appdetailssection_AppDetailsSection_2r4TK.appdetailsprimarylinkssection_LinksSection_3-V8v {
  transform: translateY(-140px);
}

.appdetailsoverview_Container_27RcN.appdetailsoverview_Glassy_2OOzY> :nth-child(6) {
  transform: translateY(-140px);
}

.appdetailsgameinfocontainer_AppGameInfoContainer_25oBZ {
  transform: translateY(-140px);
}

.appdetailsplaysection_Row_9EHg9 {
  flex-flow: column;
  width: 100%;
}

.sharedappdetailsheader_TopCapsule_NZMJ6 {
  z-index: -2;
  pointer-events: none;
}

.sharedappdetailsheader_Features_fqwOy,
.sharedappdetailsheader_PinBox_2O6k6,
.sharedappdetailsheader_BoxSizerDragBox_3ICyu {
  pointer-events: all;
}


.appdetails_PlayBar_2L3s2.appdetails_ShowPlayBar_jnXtv.appdetailsplaysection_Container_3Yf8b.appdetailsplaysection_StickyHeader_39Rhe {
  width: 70%;
}

.appactionbutton_PlayButtonContainer_1FnJ6.appactionbutton_Green_3cI5T.appactionbutton_ShowingStreaming_1hhB2 {
  height: 90%;
}

.appdetailsplaysection_StatusAndStats_1YbtI {
  overflow: visible;
}

.appdetailsplaysection_StatusAndStats_1YbtI .appdetailsplaysection_StatusNameContainer_zjtAI {
  align-items: unset;
  overflow: visible;
}


.appdetailsplaysection_GameStatsSection_1mDAV {
  width: 100%;
  flex-direction: column;
  align-content: flex-start;
  flex-wrap: wrap;
}

.appdetailsplaysection_StatusAndStats_1YbtI .appdetailsplaysection_GameStatsSection_1mDAV {
  width: 100%;
  padding-top: 4px;
}

.appdetailsplaysection_DetailsSection_1dg8h.appdetailsplaysection_Downloading_2F4Pc {
  width: 100%;
  margin-left: 5px;
}

.appactionbutton_PlayButtonContainer_1FnJ6 {
  height: 90%;
}

.appdetailsplaysection_GameStat_1kiZK.appdetailsplaysection_LastPlayed_3pS8k {
  width: 45%;
}

.appdetailsplaysection_GameStat_1kiZK.appdetailsplaysection_Playtime_1aKeg {
  width: 55%;
}

.appdetailsplaysection_RightControls_1EAxK {
  margin-left: auto;
  justify-content: flex-end;
  z-index: 2;
}


.appdetailsplaysection_ActionSection_2zxzS {
  width: 50%;
  transform: scale(1);
  transform-origin: left;
}


.appdetailsplaysection_GameStat_1kiZK {
  margin: 0px;
}

.appdetails_PlayBar_2L3s2.appdetails_ShowPlayBar_jnXtv.appdetailsplaysection_Container_3Yf8b.appdetailsplaysection_StickyHeader_39Rhe>div>div>div {
  flex-direction: row;
}

.appdetails_PlayBar_2L3s2.appdetails_ShowPlayBar_jnXtv.appdetailsplaysection_Container_3Yf8b.appdetailsplaysection_StickyHeader_39Rhe>div>div>div>div.appdetailsplaysection_StatusAndStats_1YbtI>div.appdetailsplaysection_DetailsSection_1dg8h.appdetailsplaysection_Downloading_2F4Pc {
  width: 32%;
}


.appdetailsplaysection_PlayBarLabel_34lrt {
  max-height: 16px;
}


.appdetails_PlayBar_2L3s2.appdetails_ShowPlayBar_jnXtv.appdetailsplaysection_Container_3Yf8b.appdetailsplaysection_StickyHeader_39Rhe>div>div>div> :nth-child(1) {
  width: unset;
}

.appdetailsplaysection_StickyHeaderShadow_2_86Q {
  background: linear-gradient(to bottom, rgba(40, 40, 40, 0.5) 0%, rgba(40, 40, 40, 0.2) 30%, rgba(40, 40, 40, 0) 100%);
}



.appdetailsplaysection_RightControls_1EAxK {
  margin-top: -90px;
}


.appdetailsplaysection_AppButtonsContainer_lO1IF {
  flex-flow: column;
  padding-bottom: 10px;
}

.appdetailsplaysection_MenuButton_3qDWQ {
  margin-right: 0px;
  margin-top: 5px;
}

.appdetails_PlayBar_2L3s2.appdetails_ShowPlayBar_jnXtv.appdetailsplaysection_Container_3Yf8b.appdetailsplaysection_StickyHeader_39Rhe>div>div>div> :nth-child(3)>div {
  flex-direction: row;
}

.appdetails_PlayBar_2L3s2.appdetails_ShowPlayBar_jnXtv.appdetailsplaysection_Container_3Yf8b.appdetailsplaysection_StickyHeader_39Rhe>div>div>div> :nth-child(3)>div>div {
  margin-right: 5px;
}
*//* END PLAY BAR LAYOUT */

/* VERTICAL NAV BAR - BETA - REQUIRES JS TWEAKS *//*

.sharedappdetailsheader_BoxSizerContainer_A14yd {
  z-index: 2;
}

.appdetailsgameinfocontainer_AppGameInfoContainer_25oBZ.appdetailsgameinfocontainer_AppDetailsExpanded_3s6_6.appdetailsgameinfocontainer_Glassy_2QAgO {
  order: 2;
}
.appdetailsgameinfocontainer_AppGameInfoContainer_25oBZ.appdetailsgameinfocontainer_AppDetailsCollapsed_3yfoe.appdetailsgameinfocontainer_Glassy_2QAgO {
  order: 2;
}
.appdetailsoverview_ColumnContainer_OhSdL {
  order: 3;
}

.appdetailssection_AppDetailsSection_2r4TK.appdetailsprimarylinkssection_LinksSection_3-V8v {
  margin-left: auto;
  transform: translate(10px, -290px) translateY(var(--VerticalNavBarOffset));
  position: sticky;
  height: 0px !important;
  min-width: 185px;
  max-width: 195px;
  border-radius: 4px;
  pointer-events: all;
  z-index: 5 !important;
  padding: 0px;
}

.appdetailssection_AppDetailsSection_2r4TK.appdetailsprimarylinkssection_LinksSection_3-V8v>div {
  background: linear-gradient(rgba(40, 40, 40, 0.7) 95.8%, rgba(40, 40, 40, 0) 100%) !important;
  background-size: 89% 100% !important;
  background-repeat: no-repeat !important;
  height: 228.9px;
}

.appdetailsoverview_Container_27RcN .appdetailsoverview_LeftColumn_1sZgB:before {
  content: '';
  min-height: 0px;
}

.appdetailsoverview_ColumnContainer_OhSdL {}

.appdetailsheader_HeaderFeatures_2b6Wk,
.sharedappdetailsheader_TitleSection_30acA {
  right: calc(122vw * 0.15);
  pointer-events: all;
}

.sharedappdetailsheader_TopCapsule_NZMJ6 {
    min-height: 240px;
}

*//* END VERTICAL NAV BAR */


/* CLASSIC LAYOUT - BETA *//*

.appdetailsheader_HeaderFeatures_2b6Wk {
  right: 16px;
}

.sharedappdetailsheader_TitleSection_30acA {
  right: 0;
}

.appdetailsoverview_Container_27RcN .appdetailsoverview_RightColumn_2aor4 {
  width: calc(100% - 195px);
}

.appdetailsoverview_Container_27RcN .appdetailsoverview_LeftColumn_1sZgB {
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 600px;
}

.appdetailsoverview_Container_27RcN {
  margin-bottom: -140px;
}

.appdetailssection_AppDetailsSection_2r4TK.appdetailsprimarylinkssection_LinksSection_3-V8v {
  transform: none;
}

.appdetailssection_AppDetailsSection_2r4TK.appdetailsprimarylinkssection_LinksSection_3-V8v {
  transform: translate(5px, 0px) translateY(calc(var(--VerticalNavBarOffset) * 1.7));
  position: sticky;
  height: 0px;

}

.appdetailsoverview_Container_27RcN .appdetailsoverview_LeftColumn_1sZgB {
  margin-top: 30px;
}

*//* END CLASSIC LAYOUT */
