altgraph>=0.17.4
appdirs>=1.4.4
certifi>=2025.1.31
charset-normalizer>=3.4.1
colorama>=0.4.6
EditorConfig>=0.17.0
future>=1.0.0
gitdb>=4.0.12
GitPython>=3.1.44
idna>=3.10
importlib_metadata>=8.5.0
jsbeautifier>=1.15.4
libsass>=0.23.0
markdown-it-py>=3.0.0
maturin>=1.8.3
mdurl>=0.1.2
oauthlib>=3.2.2
packaging>=24.2
pefile>=2023.2.7
pillow>=10.4.0
pyee>=11.1.1
Pygments>=2.19.1
pyinstaller>=6.13.0
pyinstaller-hooks-contrib>=2025.3
pyppeteer>=2.0.0
pywin32-ctypes>=0.2.3
PyYAML>=6.0.2
requests>=2.32.3
requests-oauthlib>=2.0.0
rich>=14.0.0
rjsmin>=1.2.4
six>=1.17.0
smmap>=5.0.2
tomli>=2.2.1
tqdm>=4.67.1
typing_extensions>=4.13.2
urllib3>=1.26.20
websockets>=10.4
zipp>=3.20.2
