/* Acrylic Theme by Jonius7
Original Design by EliteSkylu
*/

:root {
	 /*--GameListZoomSize: 100%;*/
	 /*--WhatsNewOrder: 0;*/
	 /*--UninstalledGameImageOpacity: 1;*/
}

/* Home and search buttons */
._3pSPluBgf0NeR1kkCLWMhR {
    background-color: rgba(255,255,255,0);
}

.nC-pL16iUnIRcaj1UVnwq ._2tyaVs9BpqcW068aaOrO56 {
    background: #aaaaaa;
}

._3pSPluBgf0NeR1kkCLWMhR.eNLOx4LVceeMwRvTVWh3 ._2tyaVs9BpqcW068aaOrO56 {
    background-color: #b0deea;
}

/* Home Label */
._3O48LaKWcabKx07xdrt1TH {
    color: #aaaaaa;
}
.eNLOx4LVceeMwRvTVWh3 ._3O48LaKWcabKx07xdrt1TH {
    color: #b0deea;
	
}

._3pSPluBgf0NeR1kkCLWMhR.eNLOx4LVceeMwRvTVWh3 {
	background-color: rgba(255,255,255,0);
}

._1ZS_xta5HMXzR8JgxDH6n7 ._2PF_m-I5yte3WnQhpcz8RC {
	background-color: rgba(255,255,255,0);
}

/* Recent Search and Installed Game Buttons */
._1ZS_xta5HMXzR8JgxDH6n7 ._1PgAonvorr0o_NMxNKiDFU ._3mzKdQXht__YHo6PX1LmB6 svg path, ._1ZS_xta5HMXzR8JgxDH6n7 ._1PgAonvorr0o_NMxNKiDFU ._3mzKdQXht__YHo6PX1LmB6 svg line, ._1ZS_xta5HMXzR8JgxDH6n7 ._1PgAonvorr0o_NMxNKiDFU ._3mzKdQXht__YHo6PX1LmB6 svg polyline, ._1ZS_xta5HMXzR8JgxDH6n7 ._1PgAonvorr0o_NMxNKiDFU ._3mzKdQXht__YHo6PX1LmB6 svg circle {
    stroke: #aaaaaa;
}
._1ZS_xta5HMXzR8JgxDH6n7 ._1PgAonvorr0o_NMxNKiDFU ._3mzKdQXht__YHo6PX1LmB6 svg {
    fill: #aaaaaa;
}

/* search bar color */
._20QAC4WMXm8qFE8waUT5oo ._12vo5L1hsNGdao6_ssuirS .DialogTextInputBase, ._20QAC4WMXm8qFE8waUT5oo .vCCmYvn9yQ_V8CpKupllU {
    background-color: rgba(51, 55, 60, 0.6);
}

._20QAC4WMXm8qFE8waUT5oo {
	padding-left: 0px;
    padding-right: 15px;
}

._1ZS_xta5HMXzR8JgxDH6n7 {
    padding-right: 15px;
}

/* Sidebar container */
._3x1HklzyDs4TEjACrRO2tB {
    background-image: linear-gradient(to bottom, #525E6A 0%, #232C3B 20%, #0B151F 50%, #283D4E 75%, #556877 94%);/*, rgba(255,255,255,1) 100%);*/
	padding-left: 15px;
}

._2TKEazUUS3TlniZfpc8OOe {
    padding: 6px 3px 0px 0px;
}

._2-O4ZG0KrnSrzISHBKctFQ._3cMVyOc-9F9Jvp3uKF7_xj {
  transform: translateX(-6.75px);
}

._2iiN7AYnLFTRFRiuipiYJz {
  transform: translateX(-6.75px);
}


/* fade in out at edges */
._1ijTaXJJA5YWl_fW2IxcaT {
    -webkit-mask-image: linear-gradient(to bottom, black 75%, transparent 100%);
}

/* Section Header */
._2sYIghGVXJr6tsQVvcryy8 {
    background: linear-gradient(to right, #015AFF 50%, rgba(62, 78, 105, 0) 100%);
	border-radius: 3px;
}

._2mZ8LlvoUiyeEUtIWuTri {
	font-size: 14px;
    text-transform: unset;
    letter-spacing: 1px;
    overflow: unset;
}

/* Library Grid background */
._3Sb2o_mQ30IDRh0C72QUUu {
    background-image: unset;
}

/* What's new Background */
._17uEBe5Ri8TMsnfELvs8-N {
    background: unset;
}

/* What's New rounded corners */
.SPz0ipLqfF1oAO7tdrkdY {
    border-radius: 10px;
}

/* Library background */
._2gSXCB6PbOlMxslr8hm6dm {
    /*background-image: linear-gradient(to bottom, #272B2E 0%, #272B2E 27%, #32373A 31%, #131D26 50%, #1E2327 60%, #32373D 85%, #2B3035 100%);*/
	background-image: linear-gradient(to right, #07110E 0%, #1B2228 15%, #25292C 50%, #272B2E 80%, #1A1F23 100%);
}

/* Shelf Title */
._1YdRdM9TZ_3Xolwv9aVEv- ._DialogInputContainer, .pageablecontainer_HeaderPageControls_2ce8e .pageablecontainer_Name_EckfX {
	text-transform: unset;
}
/* Sorting Labels */
._1tBzypb5E2AwNuBuVns9Hl ._1ljKTq3H58WbDZGNPfM0TY, ._3SkuN_ykQuWGF94fclHdhJ ._2aw5aUUo3lrK6wxJb4_ms5 {
    text-transform: capitalize;
}

/* Rounded Game boxes */
.WYgDg9NyCcMIVuMyZ_NBC {
    border-radius: 10px;
}

/*scrollbar*/

.library_Container_3xRRJ *::-webkit-scrollbar-thumb, .library_LibraryContextMenu_1UOkn::-webkit-scrollbar-thumb {
  background-color: rgba(1,90,255,0.7);
}

.library_Container_3xRRJ *::-webkit-scrollbar-thumb:hover, .library_LibraryContextMenu_1UOkn::-webkit-scrollbar-thumb:hover {
  background-color: rgba(1,90,255,0.9);
}

.library_Container_3xRRJ *::-webkit-scrollbar {
	/*background-color: rgba(150,150,155,0.05);*/
	background-image: linear-gradient(to bottom, transparent 0%, rgba(120,120,125,0.05) 15%, rgba(120,120,125,0.05) 85%, transparent 100%);
}

/* END CSS for Acrylic Theme */