/* Crisp Cut Theme
   by Jonius7
*/

:root {
	--LightSectionColor1: #dddddd;
	--LightSectionColor2: #8a8a8a;
	--SectionFontColor1: #1d1d1d;
	--SectionFontColor2: #0c0c0f;
	--LinksFontColor: #0d0d0d;
}

/* full background color */
.appdetails_Glassy_3Fmxx.appdetails_ScrollContainer_2l416 {
    /*background-image: radial-gradient(100% 100% at 45% 35%, #095aef 0%, #151616 100%);*/
	/*background-image: radial-gradient(100% 100% at top left, rgba(231,235,241,0.2) 0%, rgba(160,162,168,0.4) 10%, rgba(21, 22, 22, 1) 100%);*/
	background-image: none;
}

/* background glass */
.appdetailsoverview_Glassy_2OOzY .appdetailsoverview_Backdrop_1Qa-A {
	/*background: linear-gradient(180deg, rgba(40, 41, 49, 0.2) 0%, rgba(22,22,22, 0.7) 10%, rgba(33,33,35,0.7) 92%, rgba(22,22,23,0) 100%);*/
}

.appdetailsoverview_Glassy_2OOzY .appdetailsoverview_BackdropGlass_Jbe-- {
    /*background: none;*/
}

/* section top gradient */
.appdetailssection_Highlight_38t1m {
    background: linear-gradient(to right, #5f7d82 0%, #0f2650 95%);
}

/* rightcolumn section bottom gradient */
.appdetailssection_AppDetailsSectionContainer_31ptF.appdetailssection_RightColumnSection_3KfxI {
	/*background: radial-gradient(100% 100% at top left, rgba(60,60,120,0.8) 50%, rgba(120,120,120,0.8) 100%);*/
    background: radial-gradient(100% 100% at top left, rgba(240,240,240,0.8) 50%, rgba(120,120,120,0.8) 100%);
	box-shadow: 6px 6px 2px #101010ee;
}

.appactivityday_PartnerEventTextOnly_Container_1wJJQ.Panel.Focusable {
    background: radial-gradient(100% 100% at top left, rgba(240, 240, 240, 0.8) 50%, rgba(120, 120, 120, 0.8) 100%);
}
.appactivityday_PartnerEventMediumImage_Contents_2gv3E{
    background: radial-gradient(100% 100% at top left, rgba(240, 240, 240, 0.8) 50%, rgba(120, 120, 120, 0.8) 100%);
}

.appdetailsoverview_RightColumn_2aor4 * :not(path):not(circle){
	color: var(--SectionFontColor2) !important;
	fill: var(--SectionFontColor2) !important;
	stroke: var(--SectionFontColor2) !important;
}

.appdetailssectionheader_Label_1SQ30 {
    color: var(--LightSectionColor1) !important;
}

.appdetailssectionheader_Label_1SQ30 * {
    color: var(--LightSectionColor1) !important;
}

div.appactivityday_AppActivityDay_S2Fu9 .appactivityday_AppActivityDate_19LfM {
    color: var(--LightSectionColor1) !important;
}

/* Workshop */

.appdetailssection_Highlight_38t1m.appdetailsworkshopsection_WorkshopHightlight_1zmwc {
	background: radial-gradient(100% 100% at top left, rgba(240,240,240,0.8) 50%, rgba(120,120,120,0.8) 100%);
}

button.DialogButton._DialogLayout.Secondary.appdetailsworkshopsection_SpacedButton_36eP4 {
	color: var(--LightSectionColor1) !important;
}

.appdetailsworkshopsection_ButtonContainer_2LXfs * {
	color: var(--LightSectionColor1) !important;
}

/* Event */

.appactivityday_PartnerEvent_1AYE1, .appactivityday_PartnerEventLargeImage_Container_Libri {
	background: radial-gradient(100% 100% at top left, rgba(240,240,240,0.8) 50%, rgba(120,120,120,0.8) 100%);
	box-shadow: 6px 6px 2px #101010ee;
    border: 0;
}

.appactivityday_Event_UVeN0 .appactivityday_EventBody_NEMXh {
	background: radial-gradient(100% 100% at top left, rgba(240,240,240,0.8) 50%, rgba(120,120,120,0.8) 100%);
}

.appactivityday_PartnerEventMediumImage_Container_1HZy7 {
    background: none;
    transition: all 0.2s ease-out;
}

.appactivityday_Event_UVeN0 * {
	color: var(--SectionFontColor2) !important;
	fill: var(--SectionFontColor2) !important;
}

.comment_thread_RatingBar_1yWgP * {
	color: var(--LightSectionColor1) !important;
	fill: var(--LightSectionColor1) !important;
}

.appactivityday_EventHeadline_QCKBq * {
    color: var(--LightSectionColor2) !important;
}	

.appactivityday_ActorName_1t1iy > .personanameandstatus_playerName_nOdcT {
    color: var(--LightSectionColor1) !important;
}

/* Review */
.appactivityday_ReviewIconThumbsUpColor_3AXaY *, .appdetailsreviewsection_ReviewIconThumbsUpColor_3QZfw * {
    fill: #61b6e8 !important;
}

.appactivityday_ReviewIconThumbsDownColor_1vUp7 *, .appdetailsreviewsection_ReviewIconThumbsDownColor_GUO5K * {
    fill: #ec666d !important;
}

/* Post button text color */
.posttextentry_PostTextEntry_3x31A .posttextentry_Controls_37e7D .posttextentry_PostButton_2JSyA .posttextentry_Label_3jvEk {
	color: #888 !important;
}

.posttextentry_PostTextEntry_3x31A .posttextentry_Controls_37e7D .posttextentry_PostButton_2JSyA.posttextentry_Enabled_bGfja .posttextentry_Label_3jvEk {
    color: white !important;
}

.posttextentry_PostTextEntry_3x31A .posttextentry_PostTextEntryArea_1JlC2 {
	color: #b1b0b0 !important;
}

.appactivityday_CaptionQuote_IYDCY {
    color: rgba(45, 185, 255, 0.521) !important;
}
.appactivityday_CaptionQuoteContainer_1iGSG {
    color: #2db9ff !important;
}

/* Play bar */
.appdetailsplaysection_Container_3Yf8b.appdetailsplaysection_InPage_1U7LK {
	background: radial-gradient(100% 100% at top left, rgba(95,125,130,0.8) 0%, rgba(15,38,80,0.8) 95%);
    
}

/* Navigation bar */

.appdetailssection_AppDetailsSection_2r4TK.appdetailsprimarylinkssection_LinksSection_3-V8v > div {
	margin: 0px 0px 8px 0px;
	background: radial-gradient(100% 100% at top left, rgba(15,38,80,0.8) 88%, rgba(10,33,75,0.8) 98%) !important;
    box-shadow: 6px 6px 2px #101010ee !important;
}

.appdetailsprimarylinkssection_LinksSection_3-V8v .appdetailsprimarylinkssection_LinksSectionBody_25f0f {
    /*padding: 0px 26px 3px 20px !important;*/
}

.appdetailsprimarylinkssection_LinksSection_3-V8v {
    padding-left: 0px;
    padding-right: 0px;
}

.appdetailssection_Body_5uvIN.appdetailsprimarylinkssection_LinksSectionBody_25f0f * {
	color: var(--LightSectionColor1);
}

/* Achievements */

.appdetailstradingcardssection_Badge_RPcyJ.appdetailstradingcardssection_EmptyCircle_2feGA {
    border: 2px dashed #313131;
}

.appdetailsachievementssection_AdditionalItem_2aVnD.appdetailsachievementssection_RemainderContainer_lZ2c4 * {
    color: var(--LightSectionColor1) !important;
}

/* Hover */
button.DialogButton.appdetailsbutton_AppDetailsButton_3Cdin.appdetailsbutton_BottomRight_3nJyY:hover {
	background-color: rgba(151, 163, 178, 0.358);
}